<app-header></app-header>
<!--====== PAGE TITLE PART ENDS ======-->
<div class="contact-us-area bg_cover" style="background-image: url(assets/images/banner-gradient-bg-2.png)">
  <div class="contact-overlay">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-6">
          <div class="section-title text-center pt-5">
            <h2 class="title">Inscription</h2>
          </div>
          <!-- section title -->
        </div>
      </div>
      <!-- row -->
    </div>
    <!-- container -->
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="contact-details d-flex">
            <div class="contact-form-area">
              <form #accountForm="ngForm" class="register-form" (ngSubmit)="checkForm(accountForm)">

                <div class="row">
                  <div class="col-lg-6">
                    <div class="input-box mt-30">
                      <input (blur)="isntPopulate('firstName')" appFocus id="prenom" required type="text" name="firstName" [(ngModel)]="user.firstName"/>
                      <label for="prenom">Prénoms</label>
                      <i class="fal fa-user"></i>
                    </div>
                    <!-- input box -->
                    <div class="error"
                         [class.show]=" firstNameRequired || (accountForm.submitted && accountForm.form.controls.firstName.errors.required)">
                      Le prénom est obligatoire
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="input-box mt-30">
                      <input (blur)="isntPopulate('lastName')" appFocus id="nom" required type="text" name="lastName" [(ngModel)]="user.lastName"/>
                      <label for="nom">Nom</label>
                      <i class="fal fa-user"></i>
                    </div>
                    <!-- input box -->
                    <div class="error" [class.show]=" lastNameRequired ||
                        (accountForm.submitted &&
                        accountForm.form.controls.lastName.errors.required)
                      ">
                      Le nom est obligatoire
                    </div>
                  </div>
                  <div class="col-lg-6 mt-4">
                    <div class="input-box mt-30">
                      <input (keyup)="checkEmailPattern()" appFocus id="email" appNoSpace required type="email" name="email"
                             pattern="^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$"
                             [(ngModel)]="user.email" (blur)="checkEmail('email',user.email)"/>
                      <label for="email">Email</label>
                      <i class="fal fa-envelope-open"></i>
                    </div>
                    <!-- input box -->
                    <div class="error" [class.show]="emailRequired"
                      >
                      L'email est obligatoire
                    </div>
                    <div class="error" [class.show]="emailPattern"
                    >
                      L'email est invalide
                    </div>
                    <div class="error" [class.show]="accountForm.submitted && accountForm.form.controls.email.errors.required
                      ">
                      L'email est obligatoire
                    </div>
                    <div class="error" [class.show]="emailError != ''">
                      {{emailError}}
                    </div>
                  </div>
                  <div class="col-lg-6 mt-4">
                    <div class="input-box mt-30">
                      <input appFocus id="login" required type="text" appAlphaNumeric name="login" [(ngModel)]="user.login"
                             (blur)="checklogin('login',user.login)"/>
                      <label for="login">Nom d'utilisateur</label>
                      <i class="fal fa-user"></i>
                    </div>
                    <!-- input box -->
                    <div class="error" [class.show]="loginRequired">
                      Le nom d'utilisateur est obligatoire
                    </div>
                    <div class="error"
                         [class.show]="accountForm.submitted && accountForm.form.controls.login.errors?.required ">
                      Le nom d'utilisateur est obligatoire
                    </div>
                    <div class="error" [class.show]="loginError != ''">
                      {{loginError}}
                    </div>
                  </div>
                  <div class="col-lg-6 mt-4">
                    <div class="input-box mt-30">
                      <select appFocus id="type" required name="typeCompte" class="custom-select" [(ngModel)]="user.typeCompte">
                        <option *ngFor="let opt of accoutType" value="{{ opt?.id }}">
                          {{ opt?.name }}
                        </option>
                      </select>
                      <label for="type">Type de compte</label>
                    </div>
                    <div class="error"
                         [class.show]="accountForm.submitted && accountForm.form.controls.typeCompte.errors?.required">
                      Le type de compte est obligatoire
                    </div>
                  </div>
                  <div class="col-lg-6 mt-50">
                    <div class="input-box d-flex mt-30">
                      <label for="conditions"></label><input id="conditions" type="checkbox" name="acceptCondition" [(ngModel)]="user.acceptCondition"
                                                             class="custom-checkbox"/>
                      J'accepte les
                      <b (click)="showTermesConditions()" class="terms-href">
                        conditions générales</b>
                    </div>
                    <!-- <div class="error" [class.show]="accountForm.submitted && (accountForm.form.controls.acceptCondition.status == 'INVALID' )">
                                           Vous devez accepter les conditions générales d'utilisations
                                        </div> -->
                  </div>
                  <div class="col-lg-6 mt-50">
                    <ngx-recaptcha2 #accountForm [siteKey]="captchaSiteKey"
                                    [useGlobalDomain]="false" [hl]="'fr'" [(ngModel)]="user.recaptcha" name="recaptcha"
                                    required>
                    </ngx-recaptcha2>
                    <div class="error"
                         [class.show]="accountForm.submitted && !user.recaptcha">
                      Le Captcha de compte est obligatoire
                    </div>
                  </div>
                  <div class="col-lg-6 mt-50">
                    <div class="error" [class.show]="
                        accountForm.submitted && !user.acceptCondition
                      ">
                      Vous devez accepter les conditions générales
                      d'utilisations
                    </div>
                  </div>

                  <div class="col-lg-12">
                    <div class="input-box mt-30 justify-content-center align-items-center text-center">
                      <button [title]="(loginRequired || emailRequired || !user.recaptcha || !user.acceptCondition) ? 'Tous les champs sont obligatoires': '' "
                              [class.notValid]="accountForm.invalid || loginError != '' || emailError != '' || !user.recaptcha || !user.acceptCondition" id="submitBTN" class="main-btn wow slideInUp" data-wow-duration="1.5s" data-wow-delay="0s" type="submit"
                              [disabled]="accountForm.invalid || loginError != '' || emailError != '' || !user.recaptcha || !user.acceptCondition">
                        S'inscrire <i class="fal fa-long-arrow-right"></i>
                      </button>
                    </div>
                    <!-- input box -->
                  </div>
                </div>
              </form>
            </div>
          </div>
          <!-- contact details -->
        </div>
      </div>
      <!-- row -->
    </div>
    <!-- container -->
  </div>
</div>
<app-terms [display]="displayTerms" (closedTerms)="responseUserFromTermes($event)"></app-terms>
<swal #confirmSwal title="Voulez-vous confirmer votre inscription"
      text="En cliquant sur Valider, vous accepetez la création de compte sur notre plateforme." icon="question"
      [showCancelButton]="true" [confirmButtonText]="'Valider'" [cancelButtonText]="'Annuler'"
      [showLoaderOnConfirm]="true"
      [allowEscapeKey]="false" [allowOutsideClick]="false" (confirm)="processRegister(accountForm)">
</swal>

<swal #loaderSwal title="{{ swalOpt?.title }}" text="{{ swalOpt?.text }}" icon="{{ swalOpt?.icon }}"
      [showConfirmButton]="true" [showCancelButton]="false" [confirmButtonText]="'Fermer'" [allowEscapeKey]="true"
      [allowOutsideClick]="true">
</swal>
<!--====== ABOUT FAQ PART ENDS ======-->
<app-footer></app-footer>
