<app-header></app-header>

<!--====== PAGE TITLE PART ENDS ======-->
<div class="contact-us-area bg_cover" style="background-image: url(assets/images/banner-gradient-bg-2.png)">
    <div class="contact-overlay">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="section-title text-center pt-5">
                        <h2 class="title">Inscription</h2>
                    </div> <!-- sevtion title -->
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="contact-details d-flex">
                        <div class="contact-form-area">
                            <form #accountForm="ngForm" class="register-form" (ngSubmit)="checkForm(accountForm)">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="input-box mt-30">
                                            <input appFocus required type="text" name="firstName" [(ngModel)]="user.firstName">
                                            <label>Prénoms</label>
                                            <i class="fal fa-user"></i>
                                        </div> <!-- input box -->
                                        <div class="error" [class.show]="accountForm.submitted && (accountForm.form.controls.firstName.status == 'INVALID' )">
                                           Le prénom est obligatoire
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="input-box mt-30">
                                            <input appFocus required type="text"  name="lastName"  [(ngModel)]="user.lastName">
                                            <label>Nom</label>
                                            <i class="fal fa-user"></i>
                                        </div> <!-- input box -->
                                        <div class="error" [class.show]="accountForm.submitted && (accountForm.form.controls.lastName.status == 'INVALID' )">
                                           Le nom est obligatoire
                                        </div>
                                    </div>
                                    <div class="col-lg-6 mt-4">
                                        <div class="input-box mt-30">
                                            <input appFocus required type="email" name="email" pattern="^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$" [(ngModel)]="user.email">
                                            <label>Email</label>
                                            <i class="fal fa-envelope-open"></i>
                                        </div> <!-- input box -->
                                        <div class="error" [class.show]="accountForm.submitted && (accountForm.form.controls.email.status == 'INVALID' )">
                                           L'email est obligatoire ou invalid
                                        </div>
                                    </div>
                                    <div class="col-lg-6 mt-4">
                                        <div class="input-box mt-30">
                                            <input appFocus required type="text" name="login" [(ngModel)]="user.login">
                                            <label>Nom d'utilisateur</label>
                                            <i class="fal fa-user"></i>
                                        </div> <!-- input box -->
                                        <div class="error" [class.show]="accountForm.submitted && (accountForm.form.controls.login.status == 'INVALID' )">
                                           Le nom d'utilisateur est obligatoire
                                        </div>
                                    </div>
                                    <div class="col-lg-6 mt-4">
                                        <div class="input-box mt-30">
                                            <select appFocus required name="typeCompte" class="custom-select"  [(ngModel)]="user.typeCompte">
                                              <option *ngFor="let opt of accoutType" value="{{opt?.id}}">{{opt?.name}}</option>
                                            </select>
                                            <label>Type de compte</label>
                                        </div>
                                        <div class="error" [class.show]="accountForm.submitted && (accountForm.form.controls.typeCompte.status == 'INVALID' )">
                                           Le type de compte est obligatoire
                                        </div>
                                    </div>


                                    <div class="col-lg-12">
                                        <div class="input-box mt-30">
                                            <button class="main-btn wow slideInUp" data-wow-duration="1.5s" data-wow-delay="0s" type="submit">S'inscrire <i class="fal fa-long-arrow-right"></i></button>
                                        </div> <!-- input box -->
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div> <!-- contact details -->
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </div>
</div>
<swal
  #confirmSwal
  title="Voulez-vous confirmer votre inscription"
  text="En cliquant sur Valider, vous accpeter la création de compte sur notre plateforme."
  icon="question"
  [showCancelButton]="true"
  [confirmButtonText]="'Valider'"
  [cancelButtonText]="'Annuler'"
  [showLoaderOnConfirm]="true"
  [allowEscapeKey]="false"
  [allowOutsideClick]="false"
  (confirm)="processRegister(accountForm)"
>
</swal>

<swal
  #loaderSwal
  title="{{swalOpt?.title}}"
  text="{{swalOpt?.text}}"
  icon="{{swalOpt?.icon}}"
  [showConfirmButton]="true"
  [showCancelButton]="false"
  [confirmButtonText]="'Fermer'"
  [allowEscapeKey]="true"
  [allowOutsideClick]="true"
>
</swal>
<!--====== ABOT FAQ PART ENDS ======-->
<app-footer></app-footer>
