<app-header></app-header>
<!--====== PAGE TITLE PART START ======-->
<div class="page-title-area">
  <div class="banner-overlay2"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-title-item text-center">
                    <h2 class="title page-detail-title">SALARIÉ</h2>
                </div> <!-- page title -->
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
</div>
<!--====== PAGE TITLE PART ENDS ======-->
<!--====== BLOG STANDARD PART START ======-->
<div class="blog-standard-area pt-90 pb-120">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                    <div class="single-blog-standard  mt-30">
                        <div class="blog-dteails-content blog-border">
                          <div class="blog-standard">
                              <div class="blog-details-top mt-4">
                                  <p>Le salarié est une personne qui s'engage à exécuter un travail, à temps plein ou à temps partiel, pour le compte d'un employeur, en contrepartie d'un salaire ou d'un traitement. Le salarié s'engage pour une période limitée ou indéterminée.</p><br>
                                  <p class="mt-3"><b>Vos droits et devoirs</b></p>
                                  <p class="mt-m2">Tout salarié est considéré comme membre participant à compter de son embauchage et au plus tôt à partir de son dix-huitième anniversaire. C’est le cas aussi pour les salariés qui sont restés en service au moins trente jours dans un établissement adhérent, de façon continue ou discontinue, et les anciens salariés qui bénéficient d’une allocation de retraite. (Réf : Article 5 du Décret № 75-455 du 24 Avril 1975) La qualité de participant est confirmée par les éléments matériels suivants :</p>
                                  <p class="mt-m2">
                                    <br>•	Etre déclaré par son employeur
                                    <br>•	Avoir un numéro d’affiliation : il suffit que la date et le lieu de naissance du salarié soient indiqués sur la déclaration de salaires
                                    <br>•	Figurer sur la déclaration de salaires du personnel de l’entreprise
                                    <br>•	S’assurer que les cotisations de retraite retenues sur votre salaire sont reversées à l’IPRES
                                    <br>•	Vérifier sur votre bulletin de salaire si les prélèvements sont opérés
                                    <br>•	Demander votre situation de votre compte participant à l'IPRES
                                  </p>
                              </div>
                              <div class="blog-details-bath mt-3">
                                <p>  <b>	Qu'est-ce qu'un participant?</b></p>
                                <p>Les salariés actifs sont désignés sous le nom de Participants ou Cotisants. L'IPRES attribue un numéro unique pour toute son existence à chaque participant et lui délivre, à sa demande une carte d'affiliation. Un participant ne perd jamais les droits qu'il a acquis même s'il change d'employeur. Présenter votre carte d'immatriculation à votre nouvel employeur en cas de changement d'emploi.
                                </p>
                              </div>

                              <div class="blog-details-bath mt-3">
                                <p>  <b>	Les conditions d’âge d'un participant</b></p>
                                <p><strong>Comment être participant ?</strong></p>
                                <p>S'assurer que votre employeur vous a bien déclaré et que les cotisations sont bien prélevées (voir vos bulletins de paie). Pour s'assurer que vos cotisations sont régulièrement versées à l'IPRES, consultez le service des cotisations de l'IPRES. Les cotisations versées pour votre compte par l'employeur sont transformées par l'IPRES en point de retraite. Vos points de retraite s'accumulent à l'IPRES jusqu'à l'âge de la retraite. Vous pourrez avoir droit à une majoration de point de 5% par enfant à charge de moins de 21 ans, dans la limite de 3 enfants, soit 15%.</p>
                                <p><strong>L'âge minimum du participant est de dix-huit (18) ans.</strong></p>
                                <p><strong>L'âge maximum est de soixante (60) ans.</strong></p>
                                <p>C'est le taux qui permet la détermination des points de retraite. Il est égal à 9% au régime général et 4% au régime complémentaire des cadres. La cotisation contractuelle est, ainsi, le produit du salaire soumis à cotisation par le taux contractuel</p>
                              </div>

                              <div class="blog-details-bath mt-3">
                                <p>  <b>	Votre régime de retraite</b></p>
                                <p><strong>•	Le Régime Général</strong></p>
                                <p>Tout membre participant est automatiquement affilié au Régime Général. Le taux de cotisation pour le Régime général est de 14% (8,4% part employeur et 5,6% part du salarié).</p>

                                <p><strong>• Le Régime Complémentaire Cadre</strong></p>
                                <p>Le salarié est considéré comme cadre, lorsqu’il :<br> - possède une formation technique, administrative, juridique, commerciale ou financière résultant, soit d’études sanctionnées par un diplôme d’enseignement supérieur, soit d’une formation ou d’une expérience professionnelle étendue ;</p>
                                <p>- occupe dans l’entreprise, l’administration, la collectivité publique ou l’établissement public et par délégation de l’employeur, un emploi comportant des pouvoirs de décision, d’autorité et de contrôle sur des collaborateurs de toute nature. Si l’emploi ne comporte pas l’exercice du commandement, le cadre doit être investi de responsabilités équivalentes.</p>
                                <p>Le taux de cotisation pour le Régime complémentaire cadre est de 6% (3,6% part employeur et 2,4% part du salarié).</p>

                                <p><strong>•	Le Régime Employés de Maison</strong></p>
                                <p>Est considéré comme employé de maison, tout salarié embauché au service d’un foyer et occupé d’une façon continue au domicile privé de l’employeur, conformément à la législation en vigueur.
                                  La déclaration d’un employé de maison lui donne droit à une pension de retraite ou une pension de réversion.
                                </p>
                                <p>Le relevé de points et la carte d'affiliation sont délivrés sur demande écrite en joignant :</p>
                                <p>•	Une demande manuscrite adressée au Directeur Général ; <br>
                                  •	Une attestation de travail de l'actuel employeur ou certificat de travail de l'employeur ;<br>
                                  •	Une copie légalisée de la carte d'identité nationale ;<br>
                                  •	Deux photos.<br>
                                  </p>
                                  <p><b>NB : Une affiliation possible à tout salarié âgé de quarante ans (40) ayant définitivement perdu son emploi et ayant volontaire est cotisé au régime général de l'IPRES pendant cinq ans (5).</b></p>
                                  <p><strong>Pièces à fournir :</strong></p>
                                  <p>•	Une demande manuscrite <br>
                                      •	Une attestation de chômage (délivrée par l'inspection du travail ou main-d'œuvre)<br>
                                      •	Une attestation de travail du dernier employeur <br>
                                      •	Un dernier bulletin de salaire <br>
                                      •	Une carte d'identité nationale légalisée <br>
                                  </p>
                                  <p><b>Documents Requis</b></p>
                                  <p>
                                    •	Une demande de prestations. Il faudra autant d'imprimé que vous avez d'épouses
                                    <br>•	Un extrait d'acte de naissance ou une copie légalisée de la Carte Nationale d'identité du travailleur salarié.
                                    <br>•	Un extrait d'acte de mariage
                                    <br>•	Un extrait d'acte de naissance ou une copie légalisée de la Carte Nationale d'identité de(s) l'épouse (s)
                                    <br>•	Un extrait d'acte de naissance pour tous les enfants.
                                    <br>•	Un certificat de consultation médicale périodique pour les enfants de moins de quatorze (14) ans.
                                    <br>•	Un certificat de scolarité Pour les enfants de plus de quinze (15) ans : un contrat d'apprentissage ou un certificat de scolarité

                                  </p>
                                  <p><b>	Accédez à votre situation</b></p>
                                  <p>Tout membre participant peut demander son relevé de points ou sa carte d’affiliation.

                                    Le relevé de points est obtenu sur demande écrite en joignant  une attestation ou certificat de travail et une copie légalisée de la carte d’identité nationale.

                                    La carte d’affiliation est délivrée sur demande écrite en joignant une copie légalisée de la carte d’identité nationale ainsi qu’une photo d’identité.
                                  </p>
                                  <p><strong>Comment sont attribués les points de retraite ?</strong></p>
                                  <p>En contrepartie des cotisations versées, des points de retraite sont attribués aux salariés.
                                      Nombre de points = montant de la cotisation contractuelle / salaire de référence
                                      Les services antérieurs à l’adhésion de même que les périodes de maladie, d’invalidité donnent lieu à attribution de points sous certaines conditions.
                                  </p>
                                  <p><strong>Qu’est-ce que le salaire de référence ?</strong></p>
                                  <p>C’est le prix d’acquisition d’un point de retraite.</p>
                                  <p><strong>Qu’est-ce que le taux contractuel ?</strong></p>
                                  <p>C’est le taux interne qui permet la détermination des points de retraite. Il est égal à 8 % au régime général et 4 % au régime complémentaire des cadres.
                                      La cotisation contractuelle est ainsi le produit du salaire soumis à cotisation par le taux contractuel.
                                  </p>
                                  <p><strong>Comment obtenir son relevé de points et sa carte d’affiliation ?</strong></p>
                                  <p>Le relevé de points et la carte d’affiliation sont délivrés sur demande écrite en joignant une attestation ou certificat de travail et une copie légalisée de la carte d’identité nationale</p>
                              </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-8">
                <app-blogsidebar></app-blogsidebar>
            </div>
        </div>
    </div>
</div>
<!--====== BLOG STANDARD PART ENDS ======-->
<app-footer></app-footer>
