<app-header></app-header>
<!--====== PAGE TITLE PART START ======-->
<div class="page-title-area">
  <div class="banner-overlay2"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-title-item text-center">
                    <h2 class="title page-detail-title">MODALITES DE PAIEMENT DES COTISATIONS SOCIALES</h2>
                </div> <!-- page title -->
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
</div>
<!--====== PAGE TITLE PART ENDS ======-->
<!--====== BLOG STANDARD PART START ======-->
<div class="blog-standard-area pt-90 pb-120">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                    <div class="single-blog-standard  mt-30">
                        <div class="blog-dteails-content blog-border">
                          <div class="blog-standard">
                              <div class="blog-details-top mt-4">
                                  <p>En tant qu’employeur vous avez l’obligation de procéder au versement descotisations sociales exigibles dans les délais prévus par la loi.</p><br>
                                  <p class="mt-3"><b>Quand ?</b></p>
                                  <ul>
                                    <li>dans les quinze (15) premiers jours qui suivent la fin du mois échusi  vous disposez d’un effectif de plus de dix (10) salariés;</li>
                                    <li>dans les  quinze (15) premiers jours qui suivent la fin du trimestreéchu si vous disposez d’un effectif de moins de dix (10) salariés.</li>
                                  </ul>
                                  <p class="mt-3"><b>Comment ?</b></p>
                                  <p>Faire accompagner la déclaration nominative des salaires : </p>
                                  <ul>
                                    <li>d’un chèquebarré libellé à l’ordre de la Caisse de Sécurité Sociale (CSS)ou de l’Institution de Prévoyance Retraite du Sénégal (I.PRE.S);</li>
                                    <li>d’espèces  à   verser   dans   nos   caisses   ouvertes   au   niveau   de   nosagences;</li>
                                    <li>d’un ordre de virement établi à l’ordre de la Caisse de Sécurité Sociale(CSS) ou de l’Institution de Prévoyance Retraite du Sénégal (I.PRE.S)</li>
                                  </ul>
                                  <p class="mt-3"><b>Où ?</b></p>
                                  <p>Vous   pouvez   payer   vos   cotisations   sociales   à   travers  le portail <b>«NDAMLI CSS/IPRES»</b> ou auprès de <b> nos agences</b></p>

                                  <p class="mt-3"><b>Coût de l’opération</b></p>
                                  <p>Les   frais   de   versement   de   cotisations   et   des   majorations   de   retard   sont   àvotre charge</p>

                                  <p class="mt-3"><b>Pièce délivrée</b></p>
                                  <p>Un reçu de paiement vous sera transmis à titre de justificatif du règlementeffectué</p>
                              </div>

                              <div class="blog-details-top mt-4">
                                <h2>LES SANCTIONS</h2>
                                <p>En   cas   d’inobservation   des   obligations   relatives   au   paiement,   vousencourrez: </p>
                                <ul>
                                  <li> <b>des majorations de retard </b> de   10%   par   mois   ou   fraction   de   moisjusqu'à concurrence d’un plafond mensuel de 50% des sommes dues;</li>
                                  <li> <b>des poursuites pénales </b> prévues par la loi</li>
                                </ul>

                                <h2 class="mt-3">IMPORTANT</h2>
                                <ul>
                                  <li>les cotisations sont immédiatement exigibles en cas de cession ou decessation de vos activités</li>
                                  <li>elles   le   seront   aussi   en   cas   de   cessation   complète   d’emploi   de   vossalariés;</li>
                                  <li>es cotisations sociales sont portables et non quérables, autrement dit,qu’il  vous  appartient  de  procéder  spontanément   à  leur versement   etnon pas aux Institutions de venir les chercher. </li>
                                </ul>
                              </div>


                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-8">
                <app-blogsidebar></app-blogsidebar>
            </div>
        </div>
    </div>
</div>
<!--====== BLOG STANDARD PART ENDS ======-->
<app-footer></app-footer>
