<!--====== footer PART START ======-->
<footer class="footer-area footer-area-2 footer-area-1 bg_cover" style="background-image: url(assets/images/footer-bg.jpg);">
    <div class="footer-overlay">
        <div class="container position-relative">
            <div class="row">
                <div class="col-lg-4 col-md-7">
                    <div class="widget-item-1 mt-30">
                        <img src="assets/images/logo-1.1.png" alt="">

                    </div> <!-- widget item 1 -->
                </div>
                <div class="col-lg-3 offset-lg-1 col-md-5">
                    <div class="widget-item-2 mt-30">
                        <h4 class="title">Navigation</h4>
                        <div class="footer-list">
                            <ul>
                                <li><a href="#"><i class="fal fa-angle-right"></i> Accueil</a></li>
                                <li><a href="#"><i class="fal fa-angle-right"></i> A propos</a></li>
                                <li><a href="#"><i class="fal fa-angle-right"></i> Contacts</a></li>
                            </ul>

                        </div>
                    </div> <!-- widget item 2 -->
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="widget-item-2 widget-item-3 mt-30">
                      <p>Tous les jours nous assistons à nos décès qui sont liés au manque de médicaments dû à la pauvreté. Dans nos quartiers, les malades sont
confrontés à un réel problème pour acheter les soins prescrits pars le
personnels de santé.
Nous avons mis en place D.CARE pour soutenir les plus vulnérables.

Chacun peut apporter désormais son soutien aux milliers de malades
pour l'achat de leurs médicaments..</p>
                    </div> <!-- widget item 3 -->
                </div>
            </div> <!-- row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="footer-copyright">
                      <p>{{footerText}}</p>
                    </div> <!-- footer copyright -->
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </div>
</footer>
<!--====== footer PART ENDS ======-->
<!--====== BACK TO TOP ======-->
<div class="back-to-top back-to-top-2">
    <a href="">
        <i class="fas fa-arrow-up"></i>
    </a>
</div>
<!--====== BACK TO TOP ======-->
