<app-header></app-header>
<!--====== PAGE TITLE PART START ======-->
<div class="page-title-area">
  <div class="banner-overlay2"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-title-item text-center">
                    <h2 class="title page-detail-title">Allocataire</h2>
                </div> <!-- page title -->
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
</div>
<!--====== PAGE TITLE PART ENDS ======-->
<!--====== BLOG STANDARD PART START ======-->
<div class="blog-standard-area pt-90 pb-120">
    <div class="container">

        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="single-blog-standard  mt-30">
                    <div class="blog-dteails-content blog-border">
                      <div class="blog-standard">
                          <div class="blog-details-top mt-4">
                              <p>Les allocataires des Caisses d'Allocations Familiales sont les personnes qui perçoivent au moins une allocation en regard de leur situation familiale et/ou monétaire</p>
                              <p><b>	La pension de retraite</b></p>
                              <p><strong>Conditions d'admission</strong></p>
                              <p class="mt-m2">
                                •	Avoir cotisé au moins dix (10) ans ou ayant capitalisé au moins 1000 points ; <br>
                                •	Être âgé de 60 ans, possibilité d'anticipation à partir de 55 ans avec abattement de 5%;<br>
                                •	Et avoir cessé toute activité salariale.

                              </p>
                              <p>
                                Au Régime Général (RG) comme au Régime Complémentaire Cadre (RCC), la pension de retraite est destinée aux participants ayant effectués au moins dix ans d'activité et ont pu totaliser un capital de point supérieur ou égal à 1000.

                                Le montant de la pension dépend essentiellement de la durée de cotisation et du niveau de salaire.
                                Le montant mensuel de la pension de retraite est déterminé par la formule suivante :
                                Valeur Mensuelle = nombre de points servis x valeur mensuelle du point.

                              </p>
                              <p><strong>NB : Les allocations prennent effet le premier jour du mois au cours duquel la demande parvient à l'IPRES.</strong></p>
                              <p class="mt-m2">
                                <b>Pièces à fournir pour une demande de liquidation de retraite</b> <br>
                              Copie légalisée de la carte d'identité du demandeur;
                                <br>
                                •	Copie de mariage du retraité ou, s'il y a lieu de divorce ;
                                <br>•	Pièce d'état-civil de tout enfant du demandeur âgé de moins de 21 ans;
                              <br>  •	Certificat de vie des enfants ;
                                <br>•	L'original de tout certificat ou livret de travail;
                                <br>•	La décision d'engagement ou de radiation des retraités de la fonction publique ;
                                <br>•	Certificat d'emploi et de salaire des retraités demeurés en activités pendant l'exercice en cours ou le précédent.

                              </p>
                          </div>
                          <div class="blog-details-bath mt-3">
                              <p><b>La pension de veuve / veuf</b></p>
                              <p><strong>	La pension de veuve</strong></p>
                              <p><strong>Conditions d'admission</strong></p>
                              <p>	Au moment du décès du participant (en activité ou retraitée) <br>
                                  	Avoir au moins deux enfants de moins de 21 ans <br>
                                  •	Être âgé d'au moins 50 ans, possibilité d'anticipation à partir de 45 ans avec un abattement de 5% par année d'anticipation au régime général et de 1% par trimestre d'anticipation au régime des cadres <br>
                                  •	et le mariage contracté deux ans avant le décès du participant.
                              </p>
                              <p><strong>Dans le cas où le bénéfice du droit à l'allocation de veuve est subordonné à l'existence d'enfant à charge (02), le service de la pension est suspendu dès que ces derniers cessent d'être à la charge (21ans) ou à leur décès pour reprendre au 50ème anniversaire de l'intéressé, ou à partir de 45 ans par anticipation.</strong></p>
                              <p><strong>Montant</strong></p>
                              <p>50% de la pension dont bénéficiait ou aurait bénéficié le participant décédé sur la base des années validées ou valables à la date du décès et sans qu''il soit tenu compte des coefficients d'anticipation qui ont pu ou auraient pu être appliqués.</p>
                              <p><strong>Lorsqu'il y a plusieurs épouses bénéficiaires, les 50% sont répartis au prorata des ayants droit à la date du décès</strong></p>
                              <p>En cas de remariage avant 45 ans révolus, le droit à l'allocation de veuve cesse à compter du premier jour du trimestre civil suivant. La veuve qui se remarie après 45 ans révolus continue de percevoir sa pension jusqu'à son décès (cf. Art.22et 21nouveaux respectivement des règlements intérieurs n°1 et n°2)</p>
                              <p><strong>Pièces à fournir pour une demande de réversion de retraite (veuve)</strong></p>
                              <p>
                                Un acte de décès du mari
                                <br>•	Un extrait ou bulletin de naissance du mari ou la copie de la carte d'identité
                                <br>•	Un extrait de naissance, Jugement supplétif de la (des) veuve (s) ou la copie de la carte d'identité
                                <br> •	Un acte de mariage délivré par la Mairie, le Tribunal Musulman ou le Tribunal du Premier Degré pour chaque veuve
                                <br>•	Un certificat de non divorce et de non remariage
                                <br>•	Un extrait (ou bulletin) de naissance de chaque enfant mineur
                                <br>•	Un certificat de vie collectif des enfants à charge

                              </p>
                              <p><strong>	La pension de veuf</strong></p>
                              <p><strong>Conditions d'admission</strong></p>
                              <p>
                                Au moment du décès de la participante (en activité ou retraitée)
                                  <br>•	Être âgé d'au moins 55 ans, sans faculté d'anticipation. Toutefois, le bénéfice de la pension de veuf est immédiat si le veuf est atteint d'une invalidité entraînant une inaptitude au travail. Ce bénéfice est supprimé en cas de cessation de l'état d'invalidité.
                                  <br>•	et le mariage contracté deux ans avant le décès de la participante.

                              </p>
                              <p><strong>Montant</strong></p>
                              <p>50% de la pension dont bénéficiait ou aurait bénéficié la participante décédée sur la base des années validées ou valables à la date du décès et sans qu'il soit tenu compte des coefficients d'anticipation qui ont pu ou auraient pu être appliqués.</p>
                              <p><strong>En cas de pluralité d'épouses participantes, seule est accordée l'allocation de veuf la plus importante.
                                <br>
                                Pièces à fournir pour une demande de réversion de retraite (veuf)
                              </strong></p>
                              <p>
                                •	Un acte de décès de l'épouse
                                <br>•	Un extrait ou bulletin de naissance de l'épouse ou la copie de la carte d'identité
                                <br>•	Un extrait de naissance, Jugement supplétif de la (des) veuve (s) ou la copie de la carte d'identité
                                <br>•	Un acte de mariage délivré par la Mairie, le Tribunal Musulman ou le Tribunal du Premier Degré pour chaque veuve
                                <br>•	Un certificat de non divorce et de non remariage
                                <br>•	Un extrait (ou bulletin) de naissance de chaque enfant mineur
                                <br>•	Un certificat de vie collectif des enfants à charge

                              </p>
                              <p class="mt-3"><b>	La pension D'orphelin(s)</b></p>
                              <p><strong>Conditions d'admission</strong></p>
                              <p>Les orphelins de père participant ou de mère participante, s'ils sont âgés de moins de 18 ans ou 21 ans lorsqu''ils sont scolarisés sans bourse, ont droit chacun à une allocation égale au 20% des droits du participant décédé, à condition que l'ascendant survivant (ou le père ou la mère ne puisse prétendre à une pension de réversion). L'allocation qui doit être demandée par le tuteur est payée entre les mains de ce dernier.</p>
                              <p><strong>Montant</strong></p>
                              <p>20% de la pension à laquelle avait ou aurait eu droit l'ascendant (père ou mère) participant décédé.

                                <br>  Au cas où l'orphelin peut prétendre à des droits de deux ascendants, seule la réversion la plus substantielle est accordée.

                                <br>Si la réversion intéresse une ou plusieurs veuves et des orphelins issus d'un autre lit, la part revenant à ces derniers ne peut dépasser les 50% des allocations du conjoint décédé. De même, si le nombre des enfants est supérieur à 5, l'allocation revenant à chaque enfant est réduite proportionnellement.
                              </p>
                              <p><strong>Pièces à fournir pour une réversion de retraite (orphelin)</strong></p>
                              <p>•	Certificat de décès de l'auteur des droits à reverser ;
                                <br>  •	Un extrait de naissance de moins de 3 mois ou bulletins de naissance de l'auteur des droits à reverser ou la copie de la carte nationale d'identité ;
                                  <br>•	Extraits (ou bulletin) de naissance de moins de 3 mois des enfants de moins de 18 ans ou de la copie de sa carte nationale d'identité ;
                                  <br>•	Acte légal fixant la garde des orphelins (certificat de tutelle délivré par le tribunal ou Certificat de charge et d'entretien délivré par le maire) ;
                                  <br>•	Copie de la carte nationale d'identité de la personne désignée pour assurer la garde de(s) orphelin(s) ;
                                  <br>•	Certificat de vie individuel ou collectif de(s) orphelin(s) ;
                                  <br>•	Certificat(s) de travail de l'ascendant décédé en activité
                              </p>
                              <p class="mt-3"><b>	Le Remboursement des cotisations</b></p>
                              <p class="mt-3"><b>	L'Allocation de Solidarité</b></p>
                              <p>C'est une allocation forfaitaire non réversible servie aux anciens salariés, à effet du 1er janvier 1978. Elle est attribuée à l'ancien salarié né avant 1910, ayant cotisé moins d'un an  n'ayant jamais cotisé pour le régime général.
                                  Le salarié doit en plus justifier de 10 ans d'activité salariée. Pour les employés de maison, le bénéfice de la prestation est ouvert aux salariés nés avant 1922, ayant cotisé moins d'un an ou n'ayant jamais aussi cotisé. Le salarié doit aussi justifier 5 ans d'activité salariale.
                              </p>
                              <p class="mt-3"><b>L'Allocation forfaitaire</b></p>
                              <p>C'est une allocation forfaitaire versée aux anciens travailleurs ayant le statut de cadre. Elle est attribuée à tout cadre ayant atteint l'âge de la retraite au 1er janvier 1974, qui a cotisé moins d'un an ou qui n'a jamais cotisé.</p>
                              <p class="mt-3"><b>Le fond social</b></p>
                              <p>L'IPRES dispose d'un fond social qui est utilisé pour l'attribution à titre individuel de secours exceptionnels et éventuellement renouvelables. Elle est attribuée à tous participants actifs ou retraités ou les bénéficiaires de réversion dont la pension est inférieure à un plancher fixé par le conseil d'administration</p>
                              <p><b>	Pour la pension de retraite</b></p>
                              <p><b> Pour la pension de réversion veuve / veuf</b></p>
                              <p><b> Pour la pension de réversion orpheline</b></p>
                              <p><b>	Les types de paiement</b></p>
                              <p><b>	Les modes de paiement</b></p>
                              <p class="mt-3"><b>Accidents du travail et les maladies professionnelles</b></p>
                              <p>Lorsqu'un travailleur est victime d'un accident du travail ou d'une maladie professionnelle, la Caisse de Sécurité Sociale le protège par :
                              <br>•	Des soins gratuits,
                              <br>•	Des indemnités journalières,
                              <br>•	Des rentes : à la victime, aux ayants droit, en cas de décès
                              </p>
                              <p class="mt-3"><b>	Prestations familiales</b></p>
                              <p>Les Prestations Familiales sont classées en deux (2) catégories :</p>
                                <ol>
                                  <li>•	Prestations en espèces
                                    <ul>
                                      <li>o	Allocations prénatales</li>
                                      <li>o	Allocations maternités</li>
                                      <li>o	Allocations familiales</li>
                                      <li>o	Indemnités journalières</li>
                                    </ul>
                                  </li>
                                  <li>•	Prestations en nature
                                    <ul>
                                      <li>o	Action sanitaire, sociale et familiale</li>
                                    </ul>
                                  </li>
                                </ol>

                              <p class="mt-3"><b>	Vieillesse/Retraites</b></p>
                              <p>Les Prestations servies à l'IPRES et qui peut en bénéficier?
                                  <br>  •	Comment accéder à ces Prestations?
                                    <br>•	Comment sont servies ces Prestations?
                                    <br>•	Comment accéder aux soins médicaux?
                                    <br>•	Calendrier des paiements
                                </p>
                                <p class="mt-3"><b>	Actions Sanitaire & Sociales</b></p>
                                <p>L'action sanitaire et sociale en faveur des retraités de l'IPRES
                                        <br>  •	Centre médico-social
                                        <br>  •	Infirmeries régionales
                                        <br>  •	Prise en charge hospitalière

                                </p>

                          </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-8">
                <app-blogsidebar></app-blogsidebar>
            </div>
        </div>
    </div>
</div>
<!--====== BLOG STANDARD PART ENDS ======-->
<app-footer></app-footer>
