
<div class="blog-standard-area pt-90 pb-120" [class.show]="display">
    <div class="container">
        <div class="row justify-content-center">
          <i class="fal fa-times close" (click)="closeTerms(false)"></i>
            <div class="col-lg-12">
                    <div class="single-blog-standard  mt-30">
                      <h4  class="text-center mt-3">CONDITIONS GENERALES D’UTILISATION</h4>
                        <div class="blog-dteails-content blog-border">
                          <div class="blog-standard">
                              <div class="blog-details-top mt-4">
                                <p>Dans le cadre de la mutualisation de leurs systèmes d’information, la Caisse de Sécurité Sociale du Sénégal (CSS) et l’Institution de Prévoyance Retraite du Sénégal (IPRES) ont développé et exploitent la Plateforme en ligne {{appName}} accessible à l’adresse {{appHost}} Cette Plateforme est destinée à proposer aux usagers de la CSS et de l’IPRES un accès en ligne à leurs services, prestations et informations.<br>

                                    Les présentes CGU ont pour objet de définir les conditions d’accès et d’utilisation de la Plateforme et du Service en ligne qui y est proposé́.
                                    </p>
                                  <p class="mt-3"><b>1- SERVICES PROPOSES SUR LA PLATEFORME</b></p>
                                  <p class="mt-3"><strong>A.	Espace Employeur </strong></p>
                                  <p class="mt-3"><strong>Immatriculation </strong></p>
                                  <ol>
                                    <li>•	immatriculations de tout type d’établissement</li>
                                    <li>•	Immatriculation des salariés</li>
                                    <li>•	Immatriculation en Masse d’employés (fichier Excel)</li>
                                  </ol>
                                  <p class="mt-2"><strong>Déclaration </strong></p>
                                  <ol>
                                    <li>•	Pré-DNS</li>
                                    <li>•	Déclaration nominative des salariés</li>
                                    <li>•	Déclaration en Masse des salariés (fichier Excel)</li>
                                    <li>•	Gestion des entrées et des sorties salariés</li>
                                  </ol>
                                  <p class="mt-2"><strong>Demandes de services administratifs pour l'employeur </strong></p>
                                  <ol>
                                    <li>•	Demande d'attestation de régularité</li>
                                    <li>•	Demande de carte employeur</li>
                                    <li>•	Demande de changement d’adresse</li>
                                    <li>•	Demande de modifications d’informations : adresse email, téléphone, etc.</li>
                                    <li>•	Demande de certificat d’immatriculation</li>
                                  </ol>
                                  <p class="mt-2">
                                    <strong>Paiement des cotisations par virement</strong>
                                  </p>
                                  <p class="mt-2"><strong>B. Espace salarié</strong></p>
                                  <ol>
                                    <li>•	Gestion des carrières</li>
                                    <li>•	Gestion de la grappe familiale</li>
                                    <li>•	Gestion des points de cotisations</li>

                                  </ol>
                                  <p class="mt-2"><strong>C.	Espace employé</strong></p>
                                  <ol>
                                    <li>•	Gestion des prestations familiales</li>
                                    <li>•	Gestions des activités des accidents de travail et des maladies professionnelles</li>
                                    <li>•	Gestion de la retraite</li>

                                  </ol>
                              </div>
                              <div class="blog-details-bath mt-3">
                                <p>  <b>	2- ACCEPTATION ET OPPOSABILITE DES CGU</b></p>
                                <p class="mt-3">Chaque Utilisateur déclare avoir obtenu de la part de {{appName}} toutes les informations nécessaires quant aux services proposés et adhère sans réserve aux présentes Conditions Générales d’Utilisation. L’acceptation des CGU sous forme d’une « case à cocher » et de validation d’un « captcha » constitue la preuve que l’Utilisateur en a pris connaissance et vaut preuve de son acceptation.

                                    <br>L’utilisateur, personne physique, qui utilise le site doit avoir la qualité de travailleur au sens de l’article L. 2 du code du travail. Il doit en outre avoir toutes les qualités requises pour bénéficier des régimes de sécurité sociale proposés par la CSS et/ou l’IPRES.


                                    <br>L’utilisateur qui utilise ce service en ligne pour le compte d’un employeur ou d’une organisation quelle qu’elle soit, confirme avoir l’autorité d’agir au nom et pour le compte de cette entité et que cette dernière accepte les termes des présentes CGU.

                                    <br>Les CGU sont opposables dès leur acceptation par l’Utilisateur, lors de son inscription à l’espace Utilisateur. La plateforme {{appName}} se réserve le droit d’apporter aux CGU toutes les modifications qu’elle jugera nécessaires et utiles. Tout usage de l’espace Utilisateur par l’Utilisateur après les modifications des CGU vaut acceptation par ce dernier des nouvelles CGU. Les CGU figurant en ligne sur la Plateforme prévalent sur toute version de date antérieure.
                                    </p>
                              </div>

                              <div class="blog-details-bath mt-3">
                                <p>  <b>	CREATION D’UN COMPTE UTILISATEUR</b></p>
                                <p class="mt-3">
                                  Le compte d’utilisateur est accessible par un identifiant et un mot de passe créé et validé par l’utilisateur du site.
                                  L'usage du compte et l'accès aux services proposés nécessitent l'enregistrement d'une adresse email validée.
                                  <br>La saisie et la confirmation de cette adresse email est obligatoire pour créer un compte et bénéficier des services.

                                  <br>L’utilisateur doit sécuriser l’accès à son espace utilisateur en renseignant un mot de passe. Ce mot de passe est alors requis lors de toute ouverture du site.

                                  <br>Le mot de passe permettant l’accès au site est strictement personnel, il convient de le garder secret. Par sécurité, l'utilisateur est invité à ne jamais le communiquer à un tiers.

                                  <br>Ce mot de passe est modifiable à tout moment par l’utilisateur.

                                  <br>En cas de perte de son mot de passe, l’utilisateur pourra via un lien « Mot de passe oublié » accessible depuis l’écran de connexion, changer de mot de passe. L’usager sera réorienté vers son adresse mail pour recevoir un nouveau code d'accès et se reconnecter immédiatement.

                                </p>
                              </div>

                              <div class="blog-details-bath mt-3">
                                <p>  <b>	3- TRANSMISSION PAR VOIE ELECTRONIQUE DES DOCUMENTS ET ACTES ADMINISTRATIFS</b></p>
                                <p class="mt-3">
                                  L’usager peut transmettre à l’organisme de Sécurité Sociale une demande, une déclaration, un paiement ou une information par voie électronique.
                                        Il recevra en retour un accusé de réception.
                                        L'accusé de réception précisera la date de réception de la demande, le service saisi et la date à laquelle cette demande sera acceptée ou rejetée. Le cas échéant, l’accusé de réception mentionnera le délai de réponse.
                                        Les documents sous forme électronique peuvent se substituer aux documents sur support papier et sont reconnus comme équivalents.
                                        L’usager est garant de la validité et de l’intégrité des documents transmis.
                                        Les documents transmis lui seront opposables dès la notification de leur réception par l’organisme saisi.
                                        En leur qualité de responsable de la plateforme, la CSS et l’IPRES ont pris toutes les mesures utiles pour assurer la sécurité des données contenues dans le site {{appHost}}

                                        Textes officiels :

                                        <br>-	Loi n° 2008-08 du 25 janvier 2008 sur les transactions électroniques
                                        <br>-	Loi n°2018-28 du 12 décembre 2018 portant Code des Communications électroniques
                                        <br>-	Décret n° 2008-718 du 30 juin 2008 relatif au commerce électronique pris pour l’application de la loi n° 2008 -08 du 25 janvier 2008 sur les transactions électroniques.
                                        <br>-	Acte Uniforme révisé portant sur le droit commercial général (article 82 et suivants)


                                </p>
                              </div>

                              <div class="blog-details-bath mt-3">
                                <p>  <b>	4- CONFIDENTIALITE</b></p>
                                <p class="mt-3">
                                  La CSS et l’IPRES s’obligent à respecter et à garantir la confidentialité́ de l’ensemble des informations et documents transmis par les utilisateurs du portail internet, ainsi que l’ensemble des informations et documents nés de l’exécution de leurs missions.
                                  Elles s’engagent notamment à ne faire aucune divulgation sous quelque forme que ce soit, sans autorisation de la partie concernée, de tout élément connu dans le cadre de l’utilisation du portail en dehors des communications strictement indispensables à̀ l’exécution de leur mission de service public.

                                  <br>Textes officiels :

                                  <br>-	LOI  n°  2008-12  du  25  janvier  2008  portant  sur  la  Protection  des  données     à caractère personnel.
                                  <br>-	Loi n° 2008-11 portant sur la cybercriminalité

                                </p>
                              </div>

                              <div class="blog-details-bath mt-3">
                                <p>  <b>	5- RESILIATION</b></p>
                                <p class="mt-3">
                                  Les présentes CGU sont conclues pour une durée indéterminée à compter de leur acceptation. Chaque Partie pourra y mettre un terme par simple notification adressée par la lettre recommandée aux autres parties en respectant un préavis de trois (3) mois avant la date à laquelle elle souhaite que sa notification prenne effet.
                                </p>
                              </div>

                              <div class="blog-details-bath mt-3">
                                <p>  <b>	6- LOI APPLICABLE ET ATTRIBUTION DE JURIDICTION</b></p>
                                <p class="mt-3">
                                  Les présentes CGU et les opérations qui en découlent sont exclusivement régies par le droit sénégalais.

                                  En cas de litige auquel les présentes CGU pourraient donner lieu, concernant tant leur validité́, interprétation, exécution, résiliation, leurs conséquences et leurs suites, les Parties s’engagent à rechercher une solution amiable.

                                  A défaut d’une telle solution, et en cas de litige, le différend sera soumis à la compétence exclusive des tribunaux sénégalais.

                                </p>
                              </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 text-center">
                <button type="button" class="btn btn-primary custom-btn" (click)="closeTerms(true)">J'accepte</button>
            </div>
        </div>
    </div>
</div>
