<app-header></app-header>
<!--====== PAGE TITLE PART START ======-->
<div class="page-title-area">
  <div class="banner-overlay2"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-title-item text-center">
                    <h2 class="title page-detail-title">Qui sommes nous ?</h2>
                </div> <!-- page title -->
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
</div>
<!--====== PAGE TITLE PART ENDS ======-->
<!--====== BLOG STANDARD PART START ======-->
<div class="blog-standard-area pt-90 pb-120">
    <div class="container">

        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="single-blog-standard  mt-30">
                    <div class="blog-dteails-content blog-border">
                      <div class="blog-standard">
                          <div class="blog-details-top mt-4">
                              <p>
                                La Caisse de Sécurité Sociale (CSS), et l’Institution de Prévoyanceretraite   du   Sénégal   (IPRES)   réunies   dans   une   dynamique   demodernisation pour vous garantir une sécurité sociale de qualité.
                                <br>Notre diversité historique fait notre richesse:

                              </p>
                              <h2 class="mt-3">Historique de la Caisse de Sécurité Sociale:</h2>
                                <p>
                                  <b>1955: </b>institution de la Caisse des Compensations, par arrêtén°76-32 du 29 décembre 1955,
                                </p>
                                <p>
                                  <b>1966: </b>transformation de la Caisse des Compensations en unétablissement public à caractère industriel et commercial avecl’entrée en vigueur de la loi N° 66-27 du 12 mai 1966.
                                </p>
                                <p>
                                  <b>1973: </b>adoption de la loi 73-37 du 31 juillet 1973 portant Codede Sécurité Sociale organisant et régissant la Caisse de SécuritéSociale.
                                </p>
                                <p>
                                  <b>1991: </b>adoption de la loi 91-33 du 26 juin 1991 transformant laCaisse de Sécurité Sociale en Institution de prévoyance sociale,organisme de droit privé chargé d’une mission de service public
                                </p>
                              <h2 class="mt-3">Historique de l’IPRES</h2>
                              <p><b>27   mars   1958: </b> mise  en  place  du  Régime  conventionnel  de retraite   de   l’IPRAO   (Sénégal,   Mali,   Côte-d’Ivoire,   Guinée,Mauritanie,  Niger,  Dahomey et Haute  Volta)  dont la gestiontechnique était confiée à l’AGROM (jusqu’en 1969)</p>
                              <p><b>22   juin   1962  :</b>   affiliation   au   régime   des   agents   nonfonctionnaires de l’Etat et de ses démembrements (Convention428)</p>
                              <p><b>1969  : </b>sortie du Bénin du Régime (dernier pays africain à lefaire)</p>
                              <p><b>1973: </b>mise en place du Régime de retraite complémentaire desCadres</p>
                              <p><b>1975 : </b>publication de la loi 75-50 du 3 avril 1975 et son décretd’application   n°75-455   du   24   avril   1975   rendant   obligatoirel’affiliation au régime de l’IPRES</p>
                              <p><b>1976 : </b>mise en place de la Retraite des Employés de Maison</p>
                              <p><b>2006  : </b>mise  en  place  du système  de  préfinancement de lacouverture hospitalière accordée aux allocataires ;</p>
                              <p><b>Juillet 2007 : </b>Instauration de la bimestrialisation des pensions ;</p>
                              <p><b>Juillet   2007  :  </b> levée   de   la   subordination   du   paiement   despensions au reversement des cotisations</p>
                              <p><b>Février 2015 : </b>relèvement de l’âge de la retraite à 60 ans</p>
                              <p><b>Janvier 2017 : </b>mensualisation du paiement des pensions etrelèvement du délai de stage de 1 an à 120 mois ou 1000 pointsau RGR et à 60 mois ou 500 points pour les REM</p>
                              <h2 class="mt-3">QUELLE EST NOTRE MISSION ?</h2>
                              <p>
                                L’Etat du Sénégal nous a confié la sécurité sociale des travailleursrégis par le Code du Travail et le Code de la Marine Marchande <br>
                                La Caisse de Sécurité Sociale (CSS) gère la branche des prestationsfamiliales et la branche de réparation et prévention des accidents dutravail et maladies professionnelles <br>
                                L’Institution   de   Prévoyance   Retraite   du   Sénégal   (IPRES)   gère   labranche vieillesse/survivants <br>
                              </p>
                              <h2 class="mt-3">QU’EST-CE QU’ON VOUS OFFRE ?</h2>
                              <p>Un   accompagnement   durant   et   après   votre   carrièreprofessionnelle. </p>
                              <p>La Caisse de Sécurité Sociale vous sert:</p>
                              <ul>
                                <li>Des prestations familiales:
                                  <ol>
                                    <li>Les allocations prénatales</li>
                                    <li>Les allocations de maternité</li>
                                    <li>Les allocations familiales</li>
                                    <li>Les indemnités journalières de congé de maternité</li>
                                    <li>Les prestations en nature dans le cadre de l’actionsanitaire   sociale   et   familiale   (soins   infirmiers,consultations prénatales & gynécologiques, examensmédicaux...)</li>
                                  </ol>
                                </li>
                                <li>
                                  Des prestations liées à la prévention et à la réparationdes   accidents   du   travail   et   des   maladiesprofessionnelles:
                                  <ol>
                                    <li>L’indemnité journalière versée au travailleur pendant lapériode d’incapacité temporaire</li>
                                    <li>La   rente   servie   à   la   victime   en   cas   d’incapacitépermanente ou à ses ayants droit en cas d’accidentmortel</li>
                                    <li>La prise en charge ou le remboursement des fraisnécessaires   par   le   traitement,   la   réadaptationfonctionnelle,   la   rééducation   professionnelle   et   lereclassement</li>
                                  </ol>
                                </li>
                              </ul>
                              <p class="mt-2">L’Institution de retraite du Sénégal (IPRES) vous sert:</p>
                              <ul>
                                <li>Des prestations en espèce:
                                  <ol>
                                      <li>Pension de retraite</li>
                                      <li>Pension de veuve</li>
                                      <li>Pension de veuf</li>
                                      <li>Pension d’orphelin</li>
                                      <li>Allocation de solidarité</li>
                                      <li>Allocations aux VTR </li>
                                      <li>Allocations forfaitaire cadre</li>
                                      <li>Rachat d’allocations (versement unique)</li>
                                      <li>Remboursement de cotisations</li>
                                      <li>Secours renouvelables ou exceptionnels</li>
                                  </ol>
                                </li>
                                <li>Des prestations en nature non contributives:
                                  <ol>
                                    <li>Couverture dispensaire offerte au niveau des CMS àDakar et dans les régions (consultations générales etspécialisées,     radiologie,     scanner,     analyses,médicaments...)</li>
                                    <li>Prises   en   charge   hospitalières   par   dispositif   dupréfinancement,   secours   en   nature   (pacemakers,dialyses, chimiothérapie ...)</li>
                                  </ol>
                                </li>
                              </ul>
                          </div>
                          <div class="blog-details-top mt-4">
                            <app-agences></app-agences>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
              <div class="blog-details-top mt-4 blog-dteails-content px-3 pt-3 pb-3">
                <h4>Nos Adresses</h4>
                <p class="mt-3"><b>Caisse de Sécurité Sociale :</b></p>
                <p>Siége social : Place de L'OIT
                    <br>BP 102 - Dakar
                    <br>Téléphone : 33 889 19 89
                    <br>E-mail:caisse@secusocial.sn
                </p>
                <p class="mt-3"><b>Institut de Prévoyance Retraite du Sénégal :</b></p>
                <p>
                  Siége social : 22 ,Avenue Léopold Sédar Senghor
                  <br>BP 161 - Dakar
                  <br>Téléphone : 33 839 91 91
                  <br>E-mail : contact@ipres.sn
                </p>
                <p class="mt-3"><b>Plus de 30 années </b> de services, nous sommes devenus le leader national dans ce domaine.</p>
              </div>

            </div>
        </div>
    </div>
</div>
<!--====== BLOG STANDARD PART ENDS ======-->
<app-footer></app-footer>
