<app-header></app-header>
<!--====== PAGE TITLE PART START ======-->
<div class="page-title-area">
  <div class="banner-overlay2"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-title-item text-center">
                    <h2 class="title page-detail-title">Qui sommes nous ?</h2>
                </div> <!-- page title -->
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
</div>
<!--====== PAGE TITLE PART ENDS ======-->
<!--====== BLOG STANDARD PART START ======-->
<div class="blog-standard-area pt-90 pb-120">
    <div class="container">

        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="single-blog-standard  mt-30">
                    <div class="blog-dteails-content blog-border">
                      <div class="blog-standard">
                          <div class="blog-details-top mt-4">
                              <p></p>
                              <p><b>	Page en construction</b></p>
                              <p><strong>Revenez plutard</strong></p>


                          </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-8">
                <app-blogsidebar></app-blogsidebar>
            </div>
        </div>
    </div>
</div>
<!--====== BLOG STANDARD PART ENDS ======-->
<app-footer></app-footer>
