<app-header></app-header>

<!--====== PAGE TITLE PART ENDS ======-->
<div class="contact-us-area bg_cover" style="background-image: url(assets/images/banner-gradient-bg-2.png)">
    <div class="contact-overlay">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="section-title text-center pt-5">
                        <span> Attendez le temps qu'on procède à l'activation de votre compte</span>
                        <h2 class="title">Activation de votre compte</h2>
                    </div> <!-- sevtion title -->
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
        <div class="container change-password-container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="contact-details d-flex no-padding">
                        <div class="contact-form-area ml-0 col-12 no-padding" *ngIf="state == 1">
                          <img src="../../../../assets/images/loader2.gif" alt="">
                            <!-- <form #accountForm="ngForm" class="register-form" (ngSubmit)="checkForm(accountForm)">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="input-box mt-30">
                                            <input appFocus required type="{{type}}" min="4" name="oldPassword" [(ngModel)]="password.oldPassword">
                                            <label>Mot de passe reçu</label>
                                            <i class="fal" [class.fa-eye]="type == 'password'" [class.fa-eye-slash]="type == 'text'" (click)="showPassword()"></i>
                                        </div>
                                        <div class="error" [class.show]="accountForm.submitted && (accountForm.form.controls.oldPassword.status == 'INVALID' )">
                                           Le mot de passe est obligatoire
                                        </div>
                                    </div>
                                    <div class="col-lg-12 pt-3">
                                        <div class="input-box mt-30">
                                            <input appFocus required type="{{type}}" min="4" name="newPassword"  [(ngModel)]="password.newPassword">
                                            <label>Nouveau mot de passe</label>
                                            <i class="fal" [class.fa-eye]="type == 'password'" [class.fa-eye-slash]="type == 'text'" (click)="showPassword()"></i>
                                        </div>
                                        <div class="error" [class.show]="accountForm.submitted && (accountForm.form.controls.newPassword.status == 'INVALID' )">
                                           Le nouveau mot de passe est obligatoire
                                        </div>
                                    </div>
                                    <div class="col-lg-12 pt-3">
                                        <div class="input-box mt-30">
                                            <input appFocus required type="{{type}}" min="4" name="confirmPassword" [(ngModel)]="password.confirmPassword">
                                            <label>Confirmation du mot de passe</label>
                                            <i class="fal" [class.fa-eye]="type == 'password'" [class.fa-eye-slash]="type == 'text'" (click)="showPassword()"></i>
                                        </div>
                                        <div class="error" [class.show]="accountForm.submitted && (accountForm.form.controls.confirmPassword.status == 'INVALID' )">
                                           La confirmation du mot de passe est obligatoire
                                        </div>
                                    </div>
                                    <div class="col-lg-12 pt-3">
                                        <div class="error" [class.show]="accountForm.submitted && noMatchPassword">
                                           Les deux mots de passe ne correspondent pas
                                        </div>
                                    </div>


                                    <div class="col-lg-12">
                                        <div class="input-box mt-30">
                                            <button class="main-btn wow slideInUp" data-wow-duration="1.5s" data-wow-delay="0s" type="submit">Valider<i class="fal fa-long-arrow-right"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </form> -->
                        </div>
                        <div class="contact-form-area ml-0 echec-section col-12 pt-5 pr-4 pl-4 pb-5" *ngIf="state == 2">
                           <p class="text-center pb-4"><i class="fal fa-grin-beam text-green fa-3x"></i></p>
                           <h2 class="title text-center pb-4">Super!. Activation réussie</h2>
                           <p class="text-center">Votre compte a été activé avec succès. Pour accéder à votre comte Veuillez vous connecter.  <a href="{{adminAppUrl}}">Connectez-vous</a></p>
                        </div>
                        <div class="contact-form-area ml-0 echec-section col-12 pt-5 pr-4 pl-4 pb-5" *ngIf="state == 3">
                           <p class="text-center pb-4"><i class="fal fa-frown-open text-red fa-3x"></i></p>
                           <h2 class="title text-center pb-4">Ooops. Quelque chose a mal fonctionné</h2>
                           <p class="text-center">Votre compte n'a pas été activé. Il se peut que la clé soit expirée.  <a href="mailto:contact@ires.sn?subject=feedback">Veuillez contacter l'administrateur.</a></p>
                        </div>
                    </div> <!-- contact details -->
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </div>
</div>
<!-- <swal
  #confirmSwal
  title="Confirmation"
  text="Voulez-vous changer votre mot de passe ?"
  icon="question"
  [showCancelButton]="true"
  [confirmButtonText]="'Valider'"
  [cancelButtonText]="'Annuler'"
  [showLoaderOnConfirm]="true"
  [allowEscapeKey]="false"
  [allowOutsideClick]="false"
  (confirm)="processChange(accountForm)"
>
</swal> -->

<!-- <swal
  #loaderSwal
  title="{{swalOpt?.title}}"
  text="{{swalOpt?.text}}"
  icon="{{swalOpt?.icon}}"
  [showConfirmButton]="true"
  [showCancelButton]="false"
  [confirmButtonText]="'Fermer'"
  [allowEscapeKey]="true"
  [allowOutsideClick]="true"
>
</swal> -->
<!--====== ABOT FAQ PART ENDS ======-->
<app-footer></app-footer>
