<!--====== HEADER PART START ======-->
<header class="header-area header-area-2 header-area-4">
    <div class="header-nav">
        <div class="navigation">
            <nav class="navbar navbar-expand-lg navbar-light ">
                <a class="navbar-brand" href="/"><img src="assets/images/logo.png" alt=""></a> <!-- logo -->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="toggler-icon"></span>
                    <span class="toggler-icon"></span>
                    <span class="toggler-icon"></span>
                </button> <!-- navbar toggler -->
                <div class="collapse navbar-collapse sub-menu-bar" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                      <li class="nav-item">
                          <a class="nav-link" href="#apropos">Qui sommes-nous ?</a>
                      </li>

                        <li class="nav-item">
                            <a class="nav-link" href="#blog">Blog</a>
                        </li>
                    </ul>
                </div>

                <div class="navbar-btn mr-100">
                    <a class="main-btn" href="#donate-form">Faire un don <i class="fal fa-long-arrow-right"></i></a>
                </div>
            </nav>
        </div> <!-- navigation -->
    </div>
</header>
<!--====== HEADER PART ENDS ======-->
