<!--====== HEADER PART START ======-->
<header class="header-area header-area-2 header-area-4">
    <div class="header-nav">
        <div class="navigation">
            <nav class="navbar navbar-expand-lg navbar-light ">
                <a class="navbar-brand" href="/"><img src="assets/images/logo.png" alt=""></a> <!-- logo -->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="toggler-icon"></span>
                    <span class="toggler-icon"></span>
                    <span class="toggler-icon"></span>
                </button> <!-- navbar toggler -->
                <div class="collapse navbar-collapse sub-menu-bar" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                      <li class="nav-item">
                          <a class="nav-link" [class.active]="router.url == '/apropos'" [routerLink]="['/apropos']">Qui sommes-nous ?</a>
                      </li>
                        <li class="nav-item">
                            <a class="nav-link" [class.active]="router.url.includes('employeur')" href="#">Employeur <i class="fas fa-chevron-down"></i></a>
                            <ul class="sub-menu">
                                <li><a routerLink='/employeur/creation-compte' routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Création de compte</a></li>
                                <li><a routerLink='/employeur/formalite-immatriculation' routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Formalités d’immatriculation</a></li>
                                <li><a routerLink='/employeur/declaration-nominative' routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Déclaration nominative des salaires en ligne</a></li>
                                <li><a routerLink='/employeur/paiement-cotisations' routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Paiement de cotisations en ligne </a></li>
                                <!-- <li><a routerLink='/employeur/consultation-compte' routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Consultation de compte</a></li> -->
                                <li><a routerLink='/employeur/demande-attestation' routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Demande d’attestation en ligne </a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" [class.active]="router.url.includes('employe-details')" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" [routerLink]="['/employe-details']">Salarié</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" [class.active]="router.url.includes('allocataire-details')" [routerLink]="['/allocataire-details']">Allocataire </a>
                        </li>
                    </ul>
                </div>
                <div class="navbar-btn mr-100 pr-3">
                </div>
                <div class="navbar-btn mr-100">
                    <a class="register-btn mr-3" routerLink='/register' [class.active]="router.url.includes('register')">Inscription</a>
                    <a class="main-btn" href="{{adminAppUrl}}">Connexion <i class="fal fa-long-arrow-right"></i></a>
                </div>
            </nav>
        </div> <!-- navigation -->
    </div>
</header>
<!--====== HEADER PART ENDS ======-->
