<app-header></app-header>
<!--====== PAGE TITLE PART START ======-->
<div class="page-title-area">
  <div class="banner-overlay2"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-title-item text-center">
                    <h2 class="title page-detail-title">Employeur</h2>
                </div> <!-- page title -->
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
</div>
<!--====== PAGE TITLE PART ENDS ======-->
<!--====== BLOG STANDARD PART START ======-->
<div class="blog-standard-area pt-90 pb-120">
    <div class="container">

        <div class="row justify-content-center">
            <div class="col-lg-8">

                    <div class="single-blog-standard  mt-30">
                        <div class="blog-dteails-content blog-border">
                          <div class="blog-standard">
                            <div class="tabs row no-margin">
                                <div class="tab" [class.active]="section == 'css'" (click)="setSection('css')">CSS</div>
                                <div class="tab" [class.active]="section == 'ipres'" (click)="setSection('ipres')">IPRES</div>
                            </div>
                            <div class="tab-section-block" [class.active]="section == 'css'">
                              <div class="blog-details-top mt-4">
                                  <b>On entend par employeur "toute personne physique ou morale, publique ou privée ayant à son service, moyennant rémunération, une ou plusieurs personnes".</b><br>
                                  <p><b>1.	Immatriculation à la Caisse de Sécurité sociale</b></p>
                                  <p class="mt-m2">L’employeur est tenu de demander son immatriculation à la Caisse de sécurité sociale, dans les deux mois qui suivent l’embauche du premier salarié.</p>
                                  <p class="mt-m2">
                                    <b>	Qui peut faire la demande ?</b> <br>
                                    Tout employeur qui a au moins un salarié.
                                    <br>
                                    <b> Quand peut-on faire la demande ?</b> <br>
                                    Au plus tard, 2 mois après l'embauche du premier salarié sous peine de pénalité de 15% par mois ou fraction de mois.
                                    <br>	<b>Quels sont les documents à fournir ?</b><br>
                                    Concernant l’entreprise :
                                    <br>•	Une demande d'immatriculation dûment remplie, signée et cachetée; les formulaires sont disponibles auprès de la Caisse de sécurité sociale
                                    <br>•	Une photocopie des statuts de la société
                                    <br>•	Une photocopie du registre de commerce pour les entreprises individuelles
                                    <br>•	Une photocopie du protocole d'accord ou de convention pour les projets
                                    <br>•	Une déclaration d'ouverture d'établissement visée par l'Inspection du Travail.
                                    <br>•	Un livret de paie estampillé par le Tribunal
                                    <br>•	Une copie du NINEA
                                    <br>•	Une copie certifiée conforme de la carte nationale d'identité du représentant légal de la société, du GIE, de l'entreprise individuelle ou du projet
                                    <br><b>Concernant le travailleur :</b>
                                    •	Une déclaration du mouvement visée par le service de la main d'œuvre.
                                    •	La copie de la pièce d'identité du travailleur
                                  </p>
                              </div>
                              <div class="blog-details-bath mt-3">
                                  <b>2.	Cotisations à la Caisse de Sécurité sociale</b> <br>
                                  <p><b>	Personnes assujetties aux cotisations:</b> Tout employeur de personnel salarié.</p><br>
                                  <b>Assiette des cotisations</b><br>
                                  <p>
                                    Les cotisations à la Caisse de Sécurité Sociale sont assises sur les rémunérations versées par l'employeur dans la limite d'un plafond mensuel fixé actuellement à 63 000 F CFA; l'assiette minimum est constituée du SMIG, le plafond annuel est fixé à 756 000 F CFA.
                                    <br>
                                    <b>Les taux sont :</b><br>
                                    <b> 7 %</b> pour la branche des Allocations Familiales,
                                    <b>  1%, 3% et 5 % </b> pour la branche des Accidents du Travail ou Maladies Professionnelles, suivant   l'activité principale de l'établissement concerné.
                                    <b>•	Calcul et versement des cotisations</b><br>
                                    Le calcul et le versement des cotisations se caractérisent par deux principes:
                                     	Les employeurs doivent calculer eux-mêmes leurs charges sociales,
                                     	Les employeurs doivent verser spontanément leurs cotisations.
                                      <br>
                                    La Caisse de Sécurité Sociale envoie chaque mois, pour les employeurs ayant 10 salariés et plus, un "appel de cotisations" et chaque trimestre une DTC (Déclaration Trimestrielle des Cotisations) pour tous les employeurs (ayant moins de 10 salariés).
                                    L'employeur porte sur l'appel ou la DTC la masse des salaires versés en tenant compte du plafond, le nombre de salariés occupés, le montant des cotisations dues par branche et joint un titre de paiement avec l'appel ou la DTC qu'il renvoie à la Caisse.
                                    <br><b>•	Moyens administratifs de l'institution</b><br>
                                    L'Institution dispose d'un corps de contrôleurs chargés d'une mission d'information, de conseil et de contrôle auprès des employeurs.
                                    Ils travaillent en étroite collaboration avec les services du Travail (Inspections Régionales du Travail et de la Sécurité Sociale).
                                    Calcul forfaitaire des cotisations
                                    Lorsque l'employeur n'a pas fait sa déclaration, la Caisse peut suppléer sa carence en majorant de 70% la déclaration la plus récente.
                                  <br><b>  •	RETARD DE COTISATIONS</b> <br>
                                    L'employeur qui n'a pas réglé ses cotisations dans les délais prescrits est passible d'une pénalité: le montant de ses cotisations est majoré de 10 % par mois, ou fraction de mois de retard, et ceci pendant toute la période comprise entre la date d'échéance de ses cotisations et la date de paiement effectif.

                                  </p>

                              </div>
                            </div>

                            <div class="tab-section-block" [class.active]="section == 'ipres'">
                              <div class="blog-details-confarance mt-4">
                                <b>L'immatriculation</b> <br>
                                  <p>Les établissements, au sens de l'article 2 du Code du Travail, doivent obligatoirement adhérer à l'institution de gestion du régime de retraite et y affilier leur personnel. (Réf : Article 3 du Décret n 75-455 du 24 Avril 1975) En d'autres termes, dès que votre entreprise est constituée et que votre premier salarié est embauché, vous devez vous présenter à l'IPRES pour remplir les formalités d'adhésion.
                                    <br>Les membres adhérents doivent fournir, sur le formulaire qui leur est remis à cet effet, les renseignements permettant leur identification. Les entreprises qui comprennent plusieurs établissements doivent faire connaitre l'adresse de chacun d'eux en précisant la nature de ses activités. (Réf : Article 4 du Décret n 75-455 du 24 Avril 1975).
                                    <br>Les entreprises et employeurs de personnel du régime domestique sont tenus de procéder à leur immatriculation obligatoire à la Caisse de Sécurité Sociale dans les deux (02) mois qui suivent l'embauche du premier salarié. Il appartient à l'Employeur de calculer les cotisations à payer à la Caisse Sécurité Sociale et d'en faire la déclaration. RAPPEL : Les cotisations sont portables et non quérables. Elles sont dues à compter de la date d'embauche du premier salarié et sont intégralement à la charge de l'Employeur. Tout employeur à jour de ses cotisations peut se faire délivrer, à sa demande, une attestation confirmant qu'il est en règle vis à vis de la Caisse de Sécurité Sociale.
                                  </p>
                                  <p><b>La périodicité des cotisations ou les dates de paiement des cotisations</b></p>
                                  <p>
                                    Les cotisations sont payable à terme échu, au plus tard le 10 (dix) du mois qui suit ou le trimestre d'échéance.
                                  <br>
                                    	Cotisation mensuelle :
                                      <br>
                                    <br>Salaire brut (défalqué du transport et de tout gain à caractère de remboursement de frais) multiplié par 14% pour le régime général et 6% pour le régime complémentaire cadre, dans les limites du plafond mensuel. Les appels de cotisations sont mensuels pour les entreprises de moins de dix (10) personnes, au plus tard le 10 de chaque mois qui suit la période concernée, exigibles dans les mêmes conditions précitées.
                                    <br>	Cotisation trimestrielle :
                                    <br>	Salaire brut (défalqué du transport et de tout gain à caractère de remboursement de frais) multiplié par 3 et multiplié par 14% pour le régime général et 6% pour le régime complémentaire cadre, dans les limites du plafond trimestriel.
                                    <br>La totalité de la somme due est exigible en cas d'immatriculation rétroactive
                                    <b>Etats récapitulatifs des salaires.</b> <br>

                                    Tous les ans, en fin de d'exercice, et au plus tard le 31 mars de l'année qui suit, l'entreprise doit retourner à L'IPRES les états de déclaration du personnel et des salaires. Ces états permettent:
                                    <br>o	De renseigner sur les mouvements de son personnel (entrée et sortie) ;
                                    <br>o	D'immatriculer les nouvelles embauches ;
                                    <br>o	Et d'alimenter les comptes participants.
                                    <br>o	Attestation de régularité IPRES (les papiers à fournir)
                                    <br>o	Etre à jour de ses cotisations ;
                                    <br>o	Une demande écrite
                                    <br> <b>Majoration de retard</b> <br>

                                    C'est une amende que supporte tout employeur (adhèrent) qui ne verse pas ses cotisations dans des délais. Le taux de majoration est de 5% par mois ou fraction de mois de retard, jusqu'à concurrence d'un plafond annuel de 50% des sommes dues. Si l'employeur ne verse pas les cotisations à l'IPRES (elles sont portables et non quérables : c'est l'employeur (débiteur) qui doit porter les cotisations à l'IPRES dans les délais cités ci-dessus, il doit payer en plus des majorations de retard de paiement des cotisations.

                                    Le taux de majoration de retard est de 5% par mois ou fraction de mois de retard, jusqu'à concurrence d'un plafond annuel de 50% des sommes dues (cf. article 8 RI1&2)

                                  </p>
                                  <p>
                                    <b>Les déclarations</b> <br>

                                      Les déclarations se font sur différents supports : <br>
                                      •	les bulletins de versement (régime général et régime complémentaire des cadres)
                                      •	les états des entrées (régime général et régime complémentaire des cadres)
                                      •	les états récapitulatifs des salaires (ERS) (régime général et régime complémentaire des cadres)
                                      •	les états du personnel et des salaires (EPS) (régime général et régime complémentaire des cadres)
                                      •	les états complémentaires du personnel et des salaires (ECPS) (régime général et régime complémentaire des cadres)

                                      <br><b>Qu'est-ce qu'un employeur ?</b><br>

                                      Est employeur toute personne physique ou morale ayant à son service moyennant rémunération une ou plusieurs personnes (article 136 du Code de la Sécurité Sociale). On distingue plusieurs types d'employeurs :
                                      •	personnes physiques :
                                      •	entreprise individuelle
                                      •	employeur de personnel domestique
                                      •	professions libérales
                                      •	personnes morales :
                                      •	sociétés commerciales (SNC, SCS, SARL, SA)
                                      •	établissement public ou parapublic,
                                      •	groupement d'intérêt économique (GIE)
                                      •	Etat

                                      <br><b>Qu'est-ce qu'un adhèrent ?</b> <br>

                                      Pour toute entreprise existante sur le territoire sénégalais, l'adhésion est obligatoire. L'article 2 du Code du Travail oblige à tout employeur d'adhérer à l'institution de gestion de régime de retraite. La déclaration d'adhésion est obligatoire sous peine de sanction.
                                      D'abord le service contrôle-employeur vérifie si la déclaration à l'IPRES a été faite, sinon il convoque l'employeur pour une régularisation. Si la régularisation n'est pas faite dans un délai, le service contentieux recouvrement intervient et peut lui fixer une amende. La procédure peut continuer jusqu'en justice si la négociation n'a pas abouti


                                      <br> <b>Documents Requis </b> <br>

                                      •	Une demande écrite
                                      •	Une photocopie d'inscription au registre de commerce et s'il y a lieu un acte notarié et une photocopie des statuts
                                      •	La déclaration d'établissement visée par l'inspecteur du travail et de sécurité sociale,
                                      •	Un contrat de travail et la déclaration du mouvement du travail visée par l'inspecteur du travail,
                                      •	La photocopie de l'Avis d'Immatriculation délivrée par la Direction de la Statistique et portant Attribution du NINEA.
                                      •	Photocopie légalisée de la carte nationale d'identité des employés et de l'employeur pour les personnes physiques
                                      •	Pour les ONG, les Projets, les Professions libérales et les Missions diplomatiques, il faut un arrêté ou un protocole d'accord.

                                      <br><b>	Comment adhérer à l'IPRES ?</b> <br>

                                      Dès que votre entreprise est constituée et dès que votre premier salarié est embauché, vous devez venir à l’IPRES faire votre adhésion.

                                      <br> <b>	Les conditions pour être adhérant? </b> <br>
                                      •	Cas d’un employeur du secteur privé ou public (Se référer sur la liste des pièces à fournir)
                                      •	Cas d’un employeur de maison
                                      Vous devez fournir à l’IPRES :
                                      •	une demande écrite,
                                      •	un contrat de travail,
                                      •	une copie légalisée carte d’identité nationale employé,
                                      •	un numéro d’immatriculation exige de l’employeur à la Caisse de Sécurité sociale,
                                      •	un imprimé à remplir : bulletin d’adhésion (état du personnel et des salaires).

                                      <br> <b>	Comment payer les cotisations?</b> <br>

                                      Les cotisations sont assises sur la rémunération brute des intéressés jusqu' à concurrence d’un plafond fixé chaque année par le Conseil d' Administration. L’assiette de cotisation représente toutes sommes versées ou dues au travailleur ou à l' occasion d’un travail : salaires ou gains, allocations de congés payés, indemnités, primes gratifications et tous autres avantages en espèces et en nature représente à l' exception des frais professionnels (indemnité de transport plafonné à 150.000) (cf. article 136 du Code de la Sécurité sociale).

                                      <br> <b>Les taux de cotisation </b> <br>

                                      Le taux est égal à 14% au régime général réparti en 8,4% part employeur et 5,6% part du salarié et 6% au régime complémentaire des cadres réparti en 3,6% part employeur et 2,4% part du salarié.

                                      <br> <b>L'assiette des cotisations </b> <br>

                                      A l' exception des frais professionnels (indemnité de transport plafonné à 150000) toutes sommes versées ou dues au travailleur ou à l' occasion d’un travail : salaires ou gains, allocations de congés payés, indemnités, primes gratifications et tous autres avantages en espèces et en nature (cf. article 136 du Code de la Sécurité sociale).

                                      <br> <b>	Comment effectuer le calcul des cotisations? </b> <br>

                                      Le montant de la cotisation est fonction :
                                      •	de la rémunération brute du salarié (montant du salaire avant tout prélèvement) ;
                                      •	du taux de cotisation.
                                      •	Cotisation = salaire x taux de cotisation.

                                      <br> <b>Le recouvrement des cotisations </b> <br>

                                      Les cotisations, calculées sur les salaires afférents à chaque trimestre civil, sont exigibles dans les dix premiers jours du trimestre civil suivant pour les employeurs utilisant moins de vingt salariés affiliés au régime général. Toutefois, les employeurs utilisant vingt salariés et plus verseront leurs cotisations à la fin de chaque mois et au plus tard dans les dix premiers jours du mois suivant.
                                      Les cotisations qui ne sont pas versées dans le délai prévu à l’alinéa ci-dessus font, à titre de pénalité, l’objet d’une majoration de 5% par mois ou fraction de mois de retard jusqu' à concurrence d’un plafond annuel de 50% des sommes dues. Sera puni des peines prévues à l’article 383 du Code pénal tout employeur qui aura retenu au-delà du délai fixé par le règlement la cotisation prélevée sur le salaire d’un travailleur. (Art. 27 de la loi 75-50 du 3 avril 1975) Sera punie des peines prévues à l' article 379 du Code pénal toute personne qui, à quelque titre que ce soit, se sera rendue coupable de fraude ou de fausses déclarations pour obtenir ou tenter d' obtenir ou de faire obtenir des prestations qui ne sont pas dues. (Art. 28 de la loi 75-50 du 3 avril 1975)

                                      <br> <b>	Le simulateur ?</b> <br>

                                      Cet estimateur s'adresse aux entreprises du secteur privé. Il permet d'estimer le montant mensuel de l'ensemble des cotisations et contributions et le cout total de la rémunération à prévoir lors d'une embauche, ainsi que le salaire net après impôt qui sera versé à l'employé. L'estimation prend en compte l'application, régulièrement mise à jour, des cotisations sociales, des réductions de cotisation, et de l'impôt sur le revenu au taux dit neutre.
                                      Il s'agit d'une estimation à titre indicatif. Elle ne prend pas en compte les conventions collectives, ni les aides à l'embauche. Elle ne remplace pas l'obligation mensuelle d'émettre des fiches de paie et la déclaration sociale nominative (DSN).


                                  </p>
                              </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-8">
                <app-blogsidebar></app-blogsidebar>
            </div>
        </div>
    </div>
</div>
<!--====== BLOG STANDARD PART ENDS ======-->
<app-footer></app-footer>
