<app-header></app-header>
<!--====== PAGE TITLE PART START ======-->
<div class="page-title-area">
  <div class="banner-overlay2"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-title-item text-center">
                    <h2 class="title page-detail-title">ESPACE DECLARATION NOMINATIVE DES SALAIRE</h2>
                </div> <!-- page title -->
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
</div>
<!--====== PAGE TITLE PART ENDS ======-->
<!--====== BLOG STANDARD PART START ======-->
<div class="blog-standard-area pt-90 pb-120">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                    <div class="single-blog-standard  mt-30">
                        <div class="blog-dteails-content blog-border">
                          <div class="blog-standard">
                              <div class="blog-details-top mt-4">
                                  <h2>Qui doit déclarer ?</h2>
                                  <p>Tout employeur de personnel salarié prévu à l’Article 1er du code de sécurité sociale immatriculé dans les deux institutions.</p>
                                  <h2 class="mt-3">Quand déclarer ?</h2>
                                  <ul>
                                    <li>Dans les quinze (15) premiers jours qui suivent la fin du mois échu sivous disposez d’un effectif de plus de dix (10) salariés</li>
                                    <li>Dans   les  quinze   (15)   premiers   jours   qui   suivent   la   fin   du   trimestreéchu si vous disposez d’un effectif de moins de dix (10) salariés</li>
                                  </ul>

                                  <h2 class="mt-3">Comment déclarer vos cotisations ?</h2>
                                  <p>Vous devez chaque mois ou trimestre : </p>
                                  <ul>
                                    <li>Renseigner les formulaires de Déclaration Nominative des Salaires «DNS» ou Pré-DNS (votre dernière déclaration) à partir du portail NDAMLI</li>
                                    <li>Ou les retirer dans nos Agences CSS ou IPRES</li>
                                    <li>Joindre les déclarations de mouvement des travailleurs (en cas d’entrée ou et de sortie d’un salarié)</li>
                                    <li>Calculer et remplir les obligations à déclarer</li>
                                  </ul>
                                  <h2 class="mt-3">Comment faire le calcul de vos cotisations ?</h2>
                                  <p>Ces 3 paramètres vous seront nécessaires pour faire votre déclaration:</p>
                                  <p><b>L’assiette de cotisations:</b></p>
                                  <p>Les cotisations sont assises sur le montant des rémunérations et assimilées, à l’exclusion des éléments ayant un caractère de remboursement de frais (primes de transport, majorations pour charge de famille, indemnités de salissures...).</p>
                                  <p><b>Le plafond et le plancher des salaires:</b></p>
                                  <p>Le plafond des salaires est le montant au-delà duquel les cotisations ne sont pas dues (SALAIRE ASSUJETTI). Il est fixé à: </p>
                                  <ul>
                                    <li><strong>63.000 F FCFA </strong> pour les prestations familiales (PF) et celle des accidents de travail (AT);</li>
                                    <li><strong>360.000 F CFA </strong> pour le régime général de retraite (RGR);</li>
                                    <li><strong>1.080.000F CFA </strong> pour le régime complémentaire cadre (RCC)</li>
                                  </ul>
                                  <p>Le plancher des salaires assujettis est égal au SMIG (salaire minimum interprofessionnel garanti), soit 36243 F CFA pour les branches AT-MP et PF</p>
                                  <p><b>Les taux de cotisations: </b></p>
                                  <p>Les taux de cotisations varient selon la branche, ils sont fixés comme suit:</p>
                                  <ul>
                                    <li><strong>7% </strong>pour les prestations familiales (PF)</li>
                                    <li><strong>1%; 3% ou  5%</strong> (selon l’activité principale de l’employeur)pour les accidents du travail et maladies professionnelles(AT/MP);</li>
                                    <li><strong>14% </strong> (8.4% à la charge de l’employeur et 5.6% à la charge du salarié)pour le régime général de retraite (RGR)</li>
                                    <li><strong> 6% </strong> (3.6% à la charge de l’employeur et 2.4% à la charge du salarié)pour le régime complémentaire cadre (RCC).</li>

                                    <p><strong>La cotisation mensuelle est égale à: SAL ASSUJETTIS x NOMBRE DE SALARIES x TAUX DE COTISATIONS (AT.MP/PF/RGR/RCC)</strong></p>

                                    <p><strong>NB: </strong> Pour la cotisation trimestrielle, multiplier la cotisation mensuelle par trois (3).</p>
                                    <h4 class="mt-3">LLUSTRATION:</h4>
                                    <p><b>Cas pratique </b></p>
                                    <p>X est un salarié cadre dans une entreprise de bâtiment. Il perçoit un salaire mensuel de <strong>450.000 F CFA</strong></p>
                                    <p>Le taux de cotisation pour l’activité de bâtiment et travaux publics est fixé à <strong>5% </strong> pour la branche des accidents de travail et maladies professionnelles.</p>
                                    <p>Les cotisations à verser sont calculées ainsi:</p>
                                    <p>Branche Prestations familiales (PF): 63.000 x 7 % = <b>4.410 F CFA</b></p>
                                    <p>Branche Accidents du travail (AT):  63.000 x 5 % = <b>3.150 F CFA</b></p>
                                    <p><strong>Total COTISATION CSS = </strong> <b>7560 F FCFA</b></p>
                                    <p>Régime général de retraite (RGR)part patronale :360.000 x 8,4%= <b>30 240 F CFA</b> </p>
                                    <p>Régime général de retraite (RGR)part salariale : 360.000 x 5,6% = <b>20 160 F FCFA </b></p>
                                    <p>Régime complémentaire cadre (RCC)part patronale :450.000 x 3.6% = <b>16 200FCFA</b></p>
                                    <p>Régime complémentaire cadre (RCC)part salariale :450.000 x 2.4% = <b>10 800f CFA</b> </p>
                                    <p><strong>TOTAL COTISATIONIPRES = </strong> <b> 77400 F FCFA</b></p>
                                    <h4>COTISATION MENSUELLE TOTALE DUEPOUR LE SALARIE X = 84960 FCFA</h4>
                                    <h2 class="mt-3">Où déclarer?</h2>
                                    <p>A partir du Portail NDAMLI dans votre espace employeur en renseignant le formulaire de déclaration nominative des salaires pour les trois branches <strong>(VIEILLESSE, AT- MP et PF) </strong> ou se rendre dans nos agences.</p>
                                    <p> <strong> NB: </strong> Après soumission de la déclaration votre facture téléchargeable sera disponibledans le portail pour chaque période déclarée.</p>
                                  </ul>

                              </div>


                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-8">
                <app-blogsidebar></app-blogsidebar>
            </div>
        </div>
    </div>
</div>
<!--====== BLOG STANDARD PART ENDS ======-->
<app-footer></app-footer>
