<app-header></app-header>

<div class="banner-active">
  <div *ngFor="let slide of slideData"
       [ngStyle]="{'background-image': 'url('+slide.img+')', 'background-repeat': 'no-repeat'}"
       class="single-banner bg_cover">
    <div class="banner-overlay">
      <div class="container">
        <div class="row slide-content">
          <div class="col-lg-9">
            <div class="banner-content">
              <span data-animation="fadeInLeft" data-delay="0.5s">{{slide?.subTitle}}</span>
              <h1 [innerHTML]="slide.title" class="title" data-animation="fadeInLeft" data-delay="0.9s"></h1>
              <p data-animation="fadeInLeft" data-delay="1.3s">{{slide?.description}} </p>

              <a *ngIf="slide.btnText" [routerLink]='slide?.btnUrl' class="main-btn" data-animation="fadeInUp"
                 data-delay="1.6s">{{slide?.btnText}} <i class="fal fa-long-arrow-right"></i></a>

            </div> <!-- banner content -->
          </div>
          <div class="form-section" id="donate-form">

            <form class="form-donate">
              <p class="text-white mb-4">La population vulnérable a besoin d'étre soutenue <br> et aidée par nous tous</p>
              <div class="row">
                <div class="elm-input col-lg-7 col-md-7 col-sm-12 mb-2">
                  <input type="text" class="form-control amount donate-input" appNoSpace appAlphaNumeric [(ngModel)]="amount" name="amount" placeholder="Montant en CFA">
                </div>
                <div class="col-lg-5 col-md-5 col-sm-12 text-center">
                  <button type="submit" class="btn donate-btn" name="button" [swal]="donateSwal" [disabled]="!amount">Faire un don</button>
                </div>
              </div>
            </form>
          </div>
        </div> <!-- row -->
      </div> <!-- container -->
    </div>
  </div>
</div>

<div class="who-we-are-area pt-10 pb-120" id="apropos">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 pb-5 wow fadeInRight text-justify" data-wow-delay="0s" data-wow-duration="1.5s">
        <div class="section-title">
        </div> <!-- section title -->
      </div>

      <div class="col-lg-5 wow fadeInLeft" data-wow-delay="0s" data-wow-duration="1s">
        <div class="section-title">
          <span>Notre Mission</span>
          <h2 class="title">Pourquoi D. CARE</h2>
          <div class="row no-margin badge-content">
            <div class="col-lg-6 col-md-6 col-xs-12">
              <div class="badge">
                 <label class="number">1</label>
              </div>
              <label class="text">Achat de médicaments et frais de soins médicaux</label>
            </div>
            <div class="col-lg-6 col-md-6 col-xs-12">
              <div class="badge">
                 <label class="number">2</label>

              </div>
              <label class="text">Cotisation CMU et prise en charge malades</label>
            </div>
          </div>
        </div> <!-- section title -->
      </div>
      <div class="col-lg-6 offset-lg-1 wow fadeInRight" data-wow-delay="0s" data-wow-duration="1.5s">
        <div class="section-title">
          <p>Tous les jours nous assistons à nos décès qui sont liés au manque de médicaments dû à la pauvreté. Dans nos quartiers, les malades sont confrontés à un réel problème pour acheter les soins prescrits pars le personnels de santé.
             Nous avons mis en place D.CARE pour soutenir les plus vulnérables. </p>
             <p>Chacun peut apporter désormais son soutien aux milliers de malades pour l'achat de leurs médicaments.</p>
        </div> <!-- section title -->
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-6 wow slideInUp" data-wow-delay="0s" data-wow-duration=".5s">
        <div class="what-we-do-item text-center mt-30">
          <i class="fal fa-laptop-code"></i>
          <h5 class="title">Donner </h5>
          <p>Donner pour sauver des vies c'est primordiale</p>
          <a><i class="fal fa-long-arrow-right"></i></a>
        </div> <!-- what we do item -->
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6 wow slideInUp" data-wow-delay="0s" data-wow-duration="1s">
        <div class="what-we-do-item text-center mt-30">
          <i class="fal fa-fingerprint"></i>
          <h5 class="title">Aider</h5>
          <p>Des milions de familles sont dans le besoin </p>
          <a><i class="fal fa-long-arrow-right"></i></a>
        </div> <!-- what we do item -->
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6 wow slideInUp" data-wow-delay="0s" data-wow-duration="1.5s">
        <div class="what-we-do-item text-center mt-30">
          <i class="fal fa-chalkboard"></i>
          <h5 class="title">Soutenir</h5>
          <p>Nous soutenir dans cette lutte très importante</p>
          <a><i class="fal fa-long-arrow-right"></i></a>
        </div> <!-- what we do item -->
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6 wow slideInUp" data-wow-delay="0s" data-wow-duration="2s">
        <div class="what-we-do-item text-center mt-30">
          <i class="fal fa-database"></i>
          <h5 class="title">Participer</h5>
          <p>Participer à l'amélioration des conditions de vie de la population</p>
          <a><i class="fal fa-long-arrow-right"></i></a>
        </div> <!-- what we do item -->
      </div>
    </div> <!-- row -->
    <div class="row donate">
      <div class="col-lg-12">
        <h2 class="title">Faire un Don avec</h2>
      </div>
      <div class="col-12 ">
        <div class="row justify-center">
          <div class="mno-content col-lg-2 col-md-3 col-sm-4 col-xs-6" *ngFor="let mno of logos">
            <img [src]="mno?.img" alt="">
          </div>
        </div>

      </div>
      <div class="col-6 mx-auto">
        <form class="form-donate">
          <p class="text-white mb-4">La population vulnérable a besoin d'étre soutenue <br> et aidée par nous tous</p>
          <div class="row">
            <div class="elm-input col-lg-7 col-md-7 col-sm-12 mb-2">
              <input type="text" class="form-control amount-input" appNoSpace appAlphaNumeric [(ngModel)]="amount" name="amount" placeholder="Montant en CFA">
            </div>
            <div class="col-lg-5 col-md-5 col-sm-12 text-center">
              <button type="submit" class="btn donate-btn" name="button" [swal]="donateSwal" [disabled]="!amount">Faire un don</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div> <!-- container -->
  <div class="what-we-are-shape-1">
    <img alt="shape" src="assets/images/what-we-are-shape-1.png">
  </div>
  <div class="what-we-are-shape-2">
    <img alt="shape" src="assets/images/what-we-are-shape-2.png">
  </div>

</div>

<div class="solution-area bg_cover">
  <div class="solution-overlay pt-120">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-8">
          <div class="solution-box">
            <div class="solution-content">
              <h3 class="title">Fondateur</h3>
              <p>Je suis très sensible aux demandes faites par les malades pour acheter leurs médicaments. L'idée c'est de faire un petit geste pour faire sourir son prochaine.</p>
              <span class="author-text">Spécialiste de la finance digitale, chercheur et écrivain. Il a toujours comme challenge d'aider saproche communauté.</span>
              <span class="author-text">Daouda Dème - D. Care</span>
            </div>
          </div> <!-- solution box -->
        </div>
        <div class="col-lg-4">
          <div class="solution-play text-right">
            <img src="assets/images/solution-bg.jpg" alt="">
          </div> <!-- solution play -->
        </div>
      </div> <!-- row -->
    </div> <!-- container -->
  </div>
</div>

<div class="contact-us-area bg_cover" style="background-image: url(assets/images/contact-man.jpg)">
  <div class="contact-overlay">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-6">
          <div class="section-title text-center">
            <span>Contactez-nous</span>
            <h2 class="title">D. Care</h2>
          </div> <!-- sevtion title -->
        </div>
      </div> <!-- row -->
    </div> <!-- container -->
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="contact-details d-flex">
            <div class="contact-thumb wow slideInLeft" data-wow-delay="0s" data-wow-duration=".5s">
              <p class="text-justify"></p>
              <img alt="" src="assets/images/contact-man.png">

            </div>
            <div class="contact-form-area">
              <form action="#">
                <div class="input-title">
                  <h3 class="title">Remplissez les champs</h3>
                </div> <!-- input title -->
                <div class="row">
                  <div class="col-lg-6">
                    <div class="input-box mt-30">
                      <input placeholder="Prénom & nom" type="text">
                      <i class="fal fa-user"></i>
                    </div> <!-- input box -->
                  </div>
                  <div class="col-lg-6">
                    <div class="input-box mt-30">
                      <input placeholder="Email" type="email">
                      <i class="fal fa-envelope-open"></i>
                    </div> <!-- input box -->
                  </div>
                  <div class="col-lg-6">
                    <div class="input-box mt-30">
                      <input placeholder="Numéro" type="text">
                      <i class="fal fa-phone"></i>
                    </div> <!-- input box -->
                  </div>
                  <div class="col-lg-6">
                    <div class="input-box mt-30">
                      <input placeholder="Sujet" type="text">
                      <i class="fal fa-edit"></i>
                    </div> <!-- input box -->
                  </div>
                  <div class="col-lg-12">
                    <div class="input-box mt-30">
                      <textarea cols="30" id="#" name="#" placeholder="Message" rows="10"></textarea>
                      <i class="fal fa-pencil"></i>
                      <button class="main-btn wow slideInUp" data-wow-delay="0s" data-wow-duration="1.5s" type="submit">
                        Envoyer <i class="fal fa-long-arrow-right"></i></button>
                    </div> <!-- input box -->
                  </div>
                </div>
              </form>
            </div>
          </div> <!-- contact details -->
        </div>
      </div> <!-- row -->
    </div> <!-- container -->
  </div>
</div>

<div class="our-choose-area">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="section-title mt-30">
          <span>D. Care</span>
          <h2 class="title">En quelques chiffres</h2>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="our-choose-counter-area mt-30">
          <div class="row">
            <div class="col-md-6 col-sm-6">
              <div class="our-choose-counter wow slideInUp" data-wow-delay="0s" data-wow-duration=".5s">
                <sub><span class="counter">20000</span> <sup>+</sup></sub>
                <span>Médicaments</span>
                <!-- <p>Sed ut perspiciatis unde omnis iste natus error sit voluptsantium doloremque laudantium</p> -->
              </div>
              <div class="our-choose-counter wow slideInUp mt-55" data-wow-delay="0s" data-wow-duration="1s">
                <sub><span class="counter">1000</span> <sup>+</sup></sub>
                <span>Familles nouries</span>
                <!-- <p>Sed ut perspiciatis unde omnis iste natus error sit voluptsantium doloremque laudantium</p> -->
              </div>
            </div>
            <div class="col-md-6 col-sm-6">
              <div class="our-choose-counter wow slideInUp" data-wow-delay="0s" data-wow-duration="1.5s">
                <sub><span class="counter">500</span> <sup>+</sup></sub>
                <span>Pris en charge</span>
                <!-- <p>Sed ut perspiciatis unde omnis iste natus error sit voluptsantium doloremque laudantium</p> -->
              </div>
              <div class="our-choose-counter wow slideInUp mt-55" data-wow-delay="0s" data-wow-duration="2s">
                <sub><span class="counter">20</span> <sup></sup></sub>
                <span>Agents</span>
                <!-- <p>Sed ut perspiciatis unde omnis iste natus error sit voluptsantium doloremque laudantium</p> -->
              </div>
            </div> <!-- our choose counter -->
          </div> <!-- row -->
        </div>
      </div>
    </div> <!-- row -->
  </div> <!-- container -->
</div>

<div class="latest-news-area gray-bg" id="blog">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="section-title text-center">
          <span>Blog</span>
          <h2 class="title">Dernières publications</h2>
        </div> <!-- sction title -->
      </div>
    </div> <!-- row -->
  </div> <!-- container -->
  <div class="letast-news-grid white-bg  ml-40 mr-40">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="latest-news">
            <div class="row">
              <div class="col-lg-4 col-md-6 wow slideInUp" data-wow-delay="0s" data-wow-duration=".5s" *ngFor="let item of [0, 1, 2]">
                <div class="letest-news-item mt-30">
                  <span> Admin, 05 Aout 2020</span>
                  <h4 class="title"><a routerLink='/blog-detail'>Pourquoi D Care ?</a></h4>
                  <p>Tous les jours nous assistons à nos décès qui sont liés au manque de médicaments dû à la pauvreté.</p>
                  <a class="main-btn">Lire plus <i class="fal fa-long-arrow-right"></i></a>
                </div> <!-- lesast news item -->
              </div>

            </div>
          </div> <!-- latest news -->
        </div>
      </div> <!-- row -->
    </div> <!-- container -->
  </div>
</div>

<app-footer></app-footer>

<swal
  #donateSwal
  title="Voulez-vous faire un don de {{amount | number}} F CFA à l'association D CARE ?"
  text="Vous allez être redirigé vers un système de paiement facile et sécurisé"
  titleText=""
  icon="question"
  [showCancelButton]="true"
  [focusCancel]="false"
  [confirmButtonText]="'Oui, je fais un don'"
  [cancelButtonText]="'Non, Fermer '"
  (confirm)="donate(amount)">
</swal>
