<app-header></app-header>
<!--====== PAGE TITLE PART START ======-->
<div class="page-title-area">
  <div class="banner-overlay2"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-title-item text-center">
                    <h2 class="title page-detail-title">Demande d'attestation en ligne</h2>
                </div> <!-- page title -->
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
</div>
<!--====== PAGE TITLE PART ENDS ======-->
<!--====== BLOG STANDARD PART START ======-->
<div class="blog-standard-area pt-90 pb-120">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                    <div class="single-blog-standard  mt-30">
                        <div class="blog-dteails-content blog-border">
                          <div class="blog-standard">
                              <div class="blog-details-top mt-4">
                                  <h4>Qu’est-ce qu’une attestation de régularité ?</h4>
                                  <p>L’attestation de régularité est un document qui permet, notamment dans le cadre deprocédures  de marchés  publics, de justifier  de la régularité  de la situation  de votreentreprise vis-à-vis des institutions de prévoyance sociale.</p>

                                  <h4 class="mt-3">Dans quelles conditions obtenir une attestation de régularité?</h4>
                                  <p>Vous devez être à jour de: <b>vos obligations déclaratives et vos obligations de paiement.</b></p>
                                  <h4  class="mt-3">Comment procéder ?</h4>
                                  <p><strong>En ligne : </strong></p>
                                  <p>Une fois sur votre espace privé vous allez à</p>
                                  <ol>
                                    <li>TABLEAU DE BORD</li>
                                    <li>DEMANDE DE SERVICES</li>
                                    <li>ATTESTATION DE REGULARITE</li>
                                  </ol>
                                  <p class="mt-3">En agence: <b>sur demande écrite ou en remplissant le formulaire dédié</b></p>

                                  <h4 class="mt-3">Quels sont les délais de délivrance ?</h4>
                                  <p>Votre demande soumise sera traitée dans un délai de soixante-douze heures (72h)</p>

                                  <h4 class="mt-3">Comment est délivrée l’attestation de régularité ?</h4>
                                  <p>L’attestation de régularité est disponible :</p>
                                  <ul>
                                    <li>Sur votre espace employeur(téléchargeable) </li>
                                    <li>En agence pour une délivrance physique </li>
                                  </ul>
                                  <p>Elle vous est aussi transmise par mail après traitement. </p>

                              </div>


                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-8">
                <app-blogsidebar></app-blogsidebar>
            </div>
        </div>
    </div>
</div>
<!--====== BLOG STANDARD PART ENDS ======-->
<app-footer></app-footer>
